<!DOCTYPE html>

<head>
	<link href="../../_global/css/global.css" rel="stylesheet" />
	<link href="../../_global/css/scenario.css" rel="stylesheet" />
	<script type="text/javascript" src="../../_global/js/general.js"></script>
	<script type="text/javascript" src="../../_global/js/scenario.js"></script>
</head>

<body>
	<quick-scenario name="" difficulty="" image="">	</quick-scenario>
		<scenario-front>
			<scenario-right>
			</scenario-right>
		</scenario-front>
		<scenario-back>
			<back-left>
			</back-left>
			<back-right>

			</back-right>
		</scenario-back>

</body>

</html>