<!DOCTYPE html>
<head>
  <link href="../../_global/css/global.css" rel="stylesheet" />
  <link href="../../_global/css/adversary.css" rel="stylesheet" />
  <script type="text/javascript" src="../../_global/js/general.js"></script>
  <script type="text/javascript" src="../../_global/js/adversary.js"></script>
</head>

<body>

  <quick-adversary
    name=""
    base-difficulty=""
    flag-image=""
	>
	<loss-condition
	name=""
	rules=""
	></loss-condition>

	<escalation-effect
	name=""
	rules=""
	></escalation-effect>

	<level-1
	difficulty=""
	fear-cards=""
	name=""
	rules=""
	></level-1>
  
	<level-2
	difficulty=""
	fear-cards=""
	name=""
	rules=""
	></level-2>

	<level-3
	difficulty=""
	fear-cards=""
	name=""
	rules=""
	></level-3>

	<level-4
	difficulty=""
	fear-cards=""
	name=""
	rules=''
	></level-4>
	
	<level-5
	difficulty=""
	fear-cards=""
	name=""
	rules=""
	></level-5>
	
	<level-6
	difficulty=""
	fear-cards=""
	name=""
	rules=""
	></level-6>
  </quick-adversary>

</body>
</html>