.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
static/template/_global/js/*.js
!static/template/_global/js/board_front.js

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
