<!DOCTYPE html>
<head>
  <link href="../../_global/css/global.css" rel="stylesheet" />
  <link href="../../_global/css/blight_card.css" rel="stylesheet" />
  <link href="../../_global/css/blight_fear_card_icons.css" rel="stylesheet" />
  <script type="text/javascript" src="../../_global/js/common.js"></script>
  <script type="text/javascript" src="../../_global/js/blight_card.js" defer></script>
</head>
<body>

  <template-blight-card 
    name="test card"
    per-player="4"
    still-healthy=false>
    <effect>Destroy 1 {presence}</effect>
    </template-blight-card>
  


 
</body>
</html>