@font-face {
  font-family: JosefinSans-Regular;
  src: url(../fonts/josefin-sans/JosefinSans-Regular.ttf);
}

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0px;
  padding-inline-start: 27px;
}

li {
  padding-left: 3px;
}

adversary {
  display: block;
  background-image: url(../images/adversary-frame.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 800px;
  height: 534px; */
  width: 1177px;
  height: 786px;
  border-radius: 15.1px;
  position: absolute;
  top: 0px;
  left: 10px;
}

adversary-title {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 108px;
  width: 888px;
  text-align: center;
  line-height: 108px;
  font-size: 46px;
  font-family: "Name Headings";
  text-transform: uppercase;
}

adversary rule {
  white-space: pre-line;
}

.flag {
  display: block;
  position: absolute;
  left: 888px;
  top: 41px;
  height: 148px;
  width: 212px;
}

adversary-base-dif {
  display: inline;
  position: relative;
  left: 742px;
  top: 71px;
  text-align: right;
  line-height: 36px;
  font-size: 21px;
  width: 140px;
  font-family: "Name Headings";
  text-transform: uppercase;
}

top-info {
  display: block;
  position: absolute;
  left: 48px;
  top: 111px;
  height: 115px;
  width: 839px;

  display: flex;
  flex-wrap: nowrap;
  font-family: "JosefinSans-Regular";
  font-size: 16pt;
  text-align: left;
  letter-spacing: -1px;
  word-spacing: 0px;

  padding-top: 7px;
  padding-left: 20px;
  padding-right: 2px;
}

section-title {
  font-family: "JosefinSans";
  font-size: 17pt;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  letter-spacing: -2px;
  word-spacing: 1px;
}

loss-condition {
  margin-right: 5px;
  flex: 1 0 215px;
}

escalation {
  margin-right: 5px;
  flex: 1 0 220px;
}

header-level {
  margin-bottom: -15px;
  margin-left: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
}

adversary-levels {
  display: block;
  position: absolute;
  left: 49px;
  top: 231px;
  height: 528px;
  width: 1078px;

  font-family: "JosefinSans-Regular";
  font-size: 15pt;
  text-align: left;
  letter-spacing: -1px;
  word-spacing: 0px;

  padding-left: 29px;
  padding-right: 29px;
  padding-top: 7px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

adversary-levels header {
  font-family: "JosefinSans";
  font-size: 17pt;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  letter-spacing: -2px;
  word-spacing: 1px;

  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
}

adversary-levels level:not(:last-child) {
  border-bottom: 1px solid rgb(0 0 0);
}

adversary-levels header div:nth-child(1),
adversary-levels header header-level:nth-child(1),
adversary-levels level div:nth-child(1) {
  flex: 0 0 74px;
  width: 74px;
}

adversary-levels header div:nth-child(2),
adversary-levels level div:nth-child(2) {
  white-space: nowrap;
  flex: 0 0 140px;
  text-align: center;
}

adversary-levels header div:nth-child(3),
adversary-levels level div:nth-child(3) {
  flex-grow: 1;
}

adversary-levels level {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-grow: 1;
  padding-top: 1px;
  padding-bottom: 1px;
}

adversary-levels level div:first-child {
  font-size: 34px;
  font-family: "Gobold Extra2";
  padding-left: 25px;
}

adversary-levels level div:nth-child(2) {
}

adversary-levels level div:last-child {
  display: flex;
  flex-direction: column;
}

adversary-levels level rule {
  line-height: 25px;
  padding-top: 3px;
}

adversary-levels line {
  height: 0px; /* half pixel is intentional - when it is scaled it, it will still be one pixel wide. Was having issues with some lines being two pixels wide and some just one */
  background-color: black;
}

level-info {
  font-style: italic;
}

.cumulative {
  font-weight: normal;
  color: rgb(154 154 154);
  font-size: 20px;
}

div.level-difficulty {
  font-size: 13px;
}

level-difficulty {
  font-size: 14px;
  position: relative;
  top: 5px;
  left: 3px;
  font-family: "Gobold Extra2";
  display: inline-block;
  letter-spacing: 0px;
}

icon {
  height: 25px;
  width: 25px;
  margin-bottom: -6px;
  margin-top: -20px;
  background-position: center;
}

icon.fast {
  background-image: url("../images/board/fast_power.png");
}
icon.slow {
  background-image: url("../images/board/slow_power.png");
}

icon.city {
  height: 30px;
  width: 30px;
  margin-top: -8px;
}

icon.escalation {
  height: 23px;
  width: 15px;
  margin-bottom: -2px;
  margin-top: -10px;
}

escalation icon.escalation {
  height: 23px;
  margin-bottom: -2px;
  margin-top: -10px;
}

icon.presence {
  margin-bottom: -5px;
}

icon.town {
  height: 25px;
  width: 25px;
}

icon.sun {
  background-image: url(../images/board/element_simple_sun.png);
}
icon.earth {
  background-image: url(../images/board/element_simple_earth.png);
}
icon.plant {
  background-image: url(../images/board/element_simple_plant.png);
}
icon.fire {
  background-image: url(../images/board/element_simple_fire.png);
}
icon.air {
  background-image: url(../images/board/element_simple_air.png);
}
icon.moon {
  background-image: url(../images/board/element_simple_moon.png);
}
icon.animal {
  background-image: url(../images/board/element_simple_animal.png);
}
icon.water {
  background-image: url(../images/board/element_simple_water.png);
}
icon.any {
  background-image: url(../images/board/element_simple_any.png);
}
