@font-face {
  font-family: JosefinSans-Regular;
  src: url(../fonts/josefin-sans/JosefinSans-Regular.ttf);
}

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0px;
  padding-inline-start: 27px;
}

li {
  padding-left: 3px;
}

adversary {
  display: block;
  width: 1177px;
  height: 786px;
  border-radius: 22px;
  position: absolute;
  top: 0px;
  left: 10px;
  overflow: hidden;
}

adversary-background {
  background-image: url(../images/adversary/adversary-background-frame.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

adversary-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0px;
  top: -40px;
  height: 116px;
  width: 1177px;
  z-index: 3;
  text-align: center;
  line-height: 108px;
  font-size: 46px;
  font-family: "Name Headings";
  text-transform: uppercase;
  background-image: url(../images/adversary/title-row-frame.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-right: 265px;
  padding-top: 28px;
  word-spacing: -5px;
}

adversary rule {
  display: block;
  position: relative;
  white-space: pre-line;
}

created-with {
  left: 948px;
  top: 767px;
  font-size: 13px;
}

custom-meeple {
  left: 1128px;
  top: 746px;
  width: 16px;
}

.flag {
  display: block;
  position: absolute;
  left: 894px;
  top: 34px;
  height: 162px;
  width: 226px;
  background-image: url(../images/adversary/flag-frame.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 5;
  padding: 5px;
}

adversary-base-dif {
  display: block;
  position: absolute;
  left: 881px;
  top: 34px;
  text-align: right;
  line-height: 36px;
  font-size: 21px;
  width: 163px;
  font-family: "Short Name Headings";
  text-transform: uppercase;
  z-index: 5;
  word-spacing: -4px;
  letter-spacing: -0.35px;
  transform: translateX(-100%);
}

adversary-base-dif num {
  font-family: "Gobold Extra2";
  font-size: 18px;
}

top-info {
  display: block;
  position: absolute;
  left: 27px;
  top: 72px;
  height: 132px;
  width: 1121px;
  display: flex;
  flex-wrap: nowrap;
  font-family: "JosefinSans-Regular";
  font-size: 22.33px;
  letter-spacing: -1.3px;
  word-spacing: -0.6px;
  line-height: 1;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 256px;
  background-image: url(../images/adversary/loss-escalation-frame.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

section-title {
  font-family: "JosefinSans";
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  letter-spacing: -2px;
  word-spacing: 1px;
  margin-bottom: 4px;
  display: block;
}

loss-condition {
  margin-right: 15px;
  flex: 1 0 228px;
}

escalation {
  margin-right: 5px;
  flex: 1 0 220px;
}

header-level {
  text-align: center;
  display: flex;
  justify-content: center;
}

adversary-levels {
  display: block;
  position: absolute;
  left: 28px;
  top: 207px;
  height: 556px;
  width: 1115px;

  font-family: "JosefinSans-Regular";
  font-size: 24px;
  text-align: left;
  letter-spacing: -1px;
  word-spacing: 0px;

  padding-left: 29px;
  padding-right: 29px;
  padding-top: 7px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

adversary-levels header {
  font-family: "JosefinSans";
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  letter-spacing: -2.25px;
  word-spacing: 1px;
  margin-bottom: -10px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 29px;
  height: 40px;
}

adversary-levels level:not(:last-child) {
  border-bottom: 1px solid rgb(0 0 0);
}

adversary-levels level:first-of-type div:nth-child(3) {
  min-height: 70px;
}

adversary-levels header div:nth-child(1),
adversary-levels header header-level:nth-child(1),
adversary-levels level div:nth-child(1) {
  flex: 0 0 74px;
  width: 74px;
}

adversary-levels header div:nth-child(2),
adversary-levels level div:nth-child(2) {
  white-space: nowrap;
  flex: 0 0 170px;
  text-align: center;
}

adversary-levels header div:nth-child(3),
adversary-levels level div:nth-child(3) {
  flex-grow: 1;
  padding-left: 16px;
}

adversary-levels level {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-grow: 1;
  padding-top: 1px;
  padding-bottom: 1px;
}

adversary-levels level div:first-child {
  font-size: 39px;
  font-family: "Gobold Extra2";
  padding-left: 21px;
}

adversary-levels level div:nth-child(2) {
  height: 40px;
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: flex-end;
}

adversary-levels level div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

adversary-levels level rule {
  line-height: 30px;
  padding-top: 6px;
}

adversary-levels line {
  height: 0px; /* half pixel is intentional - when it is scaled it, it will still be one pixel wide. Was having issues with some lines being two pixels wide and some just one */
  background-color: black;
}

level-info {
  font-style: italic;
}

.cumulative {
  font-weight: normal;
  color: rgb(154 154 154);
  font-size: 20px;
}

div.level-difficulty {
  font-size: 13px;
}

level-difficulty {
  font-size: 20px;
  position: relative;
  top: 5px;
  left: 5px;
  font-family: "Lato Regular";
  display: inline-flex;
  letter-spacing: 0px;
  align-items: flex-start;
}

level-difficulty num {
  font-family: "Gobold Extra2";
  letter-spacing: -2px;
  padding-right: 2px;
}

icon {
  height: 25px;
  width: 25px;
  margin-bottom: -6px;
  margin-top: -20px;
  background-position: center;
}

icon.fast {
  background-image: url("../images/board/fast_power.png");
}
icon.slow {
  background-image: url("../images/board/slow_power.png");
}

icon.city {
  height: 30px;
  width: 30px;
  margin-top: -8px;
}

icon.escalation {
  height: 23px;
  width: 15px;
  margin-bottom: -2px;
  margin-top: -10px;
}

escalation icon.escalation {
  height: 23px;
  margin-bottom: -2px;
  margin-top: -10px;
}

icon.presence {
  margin-bottom: -5px;
}

icon.town {
  height: 25px;
  width: 25px;
}

icon.sun {
  background-image: url(../images/board/element_simple_sun.png);
}
icon.earth {
  background-image: url(../images/board/element_simple_earth.png);
}
icon.plant {
  background-image: url(../images/board/element_simple_plant.png);
}
icon.fire {
  background-image: url(../images/board/element_simple_fire.png);
}
icon.air {
  background-image: url(../images/board/element_simple_air.png);
}
icon.moon {
  background-image: url(../images/board/element_simple_moon.png);
}
icon.animal {
  background-image: url(../images/board/element_simple_animal.png);
}
icon.water {
  background-image: url(../images/board/element_simple_water.png);
}
icon.any {
  background-image: url(../images/board/element_simple_any.png);
}

adversary dev-overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: 100% 100%;
  opacity: 0.5;
  filter: invert(1) saturate(0);
  pointer-events: none;
  z-index: 101;
}

adversary.printer-clean,
adversary.printer-clean top-info,
adversary.printer-clean adversary-title,
adversary.printer-clean adversary-background {
  background-image: none;
}
adversary.printer-clean {
  border: black 3px solid;
  box-sizing: border-box;
  background-color: white;
}

top-info.no-loss-condition loss-condition {
  margin-right: 30px;
  flex: none;
  display: block;
}

adversary range {
  width: 40px;
}

adversary range-value {
  top: -1px;
  left: 0px;
}

icon.range-small-icon {
  width: 30px;
  height: 20px;
  position: absolute;
  margin: 0px;
  display: block;
  top: 2px;
}
