@font-face {
  font-family: JosefinSans-Regular;
  src: url(../fonts/josefin-sans/JosefinSans-Regular.ttf) format("truetype");
  font-weight: normal;
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}

html {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

blight-card {
  display: block;
  background-image: url(../images/cards/Blight/Blighted_Background_with_Banner_Trim.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 488px;
  height: 682px;
  border-radius: 22px;
  position: relative;
  top: 0px;
  left: 0px;
}

blight-card.still-healthy {
  background-image: url(../images/cards/Blight/Healthy_Background_with_Banner_Trim.png);
}

effect-name {
  position: relative;
  display: block;
  font-size: 29px;
  font-family: "Short Name Headings";
  white-space: normal;
  width: inherit;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  padding-left: 27px;
  padding-right: 27px;
}

effect {
  font-family: "JosefinSans-Regular";
  font-size: 16pt;
  line-height: 1.4;
  letter-spacing: 0px;
  word-spacing: 0px;
  white-space: pre-line;
  position: relative;
  display: block;
  text-align: center;
  padding-top: 7px;
  margin-bottom: -10px;
  z-index: 1;
}

blight-heading {
  position: absolute;
  top: 8.5%;
  width: inherit;
  font-size: 56px;
  line-height: 32px;
  font-family: "Short Name Headings";
  color: #57544a;
  text-align: center;
  text-transform: uppercase;
}

blight-card.still-healthy > blight-heading {
  color: #469238;
  font-size: 44px;
  top: 7%;
}

for-now {
  font-size: 20pt;
}

blight-banner {
  background-image: url(../images/cards/Blight/Blighted_Banner_middle.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 433px;
  position: absolute;
  top: 128px;
  height: auto;
  margin-left: 27.5px;
  margin-right: 27px;
  box-shadow: 0 3px 4px 0px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

blight-card.still-healthy blight-banner {
  background-image: url(../images/cards/Blight/Still-Healthy_Banner-middle.png);
}

blight-banner-after {
  content: "";
  display: block;
  width: inherit;
  height: 45px;
  background-image: url(../images/cards/Blight/Blighted_Banner_bottom.png);
  background-repeat: no-repeat;
  position: absolute;
  top: calc(100% - 1px);
}

blight-card.still-healthy blight-banner-after {
  background-image: url(../images/cards/Blight/Still-Healthy_Banner-bottom.png);
}

per-player-text {
  position: absolute;
  top: 46%;
  width: inherit;
  font-family: "JosefinSans-Regular";
  font-size: 25pt;
  letter-spacing: -0.5px;
  word-spacing: 0px;
  white-space: pre-line;
  display: block;
  text-align: center;
}

blight-reminder {
  position: absolute;
  top: 56%;
  width: inherit;
  font-family: "JosefinSans-Regular";
  font-size: 17pt;
  letter-spacing: -0.5px;
  word-spacing: 0px;
  white-space: pre-line;
  display: block;
  text-align: center;
  line-height: 1.3;
}

blight-card dev-overlay {
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: inherit;
  opacity: 0.5;
  filter: invert(1) saturate(0);
  pointer-events: none;
  z-index: 101;
}
