@font-face {
  font-family: JosefinSans-Regular;
  src: url(../fonts/josefin-sans/JosefinSans-Regular.ttf);
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}

html {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 1766px;
  height: 1177px;
}

board {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15.1px;
  overflow: hidden;
}

board.round-border {
  border-radius: 15.1px;
}

spirit-name {
  position: absolute;
  left: 33%;
  top: 6px;
  height: 22.67px;
  width: 900px;
  font-size: 40pt;
  font-family: "Name Headings";
  text-transform: uppercase;
  vertical-align: middle;
  text-align: left;
  z-index: 1;
  white-space: normal;
}

.spirit-image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: -1;
}

lore-description {
  position: absolute;
  left: 883px;
  top: 120px;
  width: 780px;
  height: 320px;
  font-family: "Calibri";
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  white-space: pre-line;
}

second-section-container {
  position: absolute;
  left: 900px;
  top: 465px;
  height: 363px;
}

third-section-container {
  position: absolute;
  left: 900px;
  top: 800px;
}

setup {
}

setup-title,
play-style-title,
complexity-title,
complexity-value,
div.summary-of-powers-title {
  font-family: "Name Headings";
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
}

complexity-title,
complexity-value,
div.summary-of-powers-title {
  font-size: 28px;
}

setup-title {
  margin-top: 80px;
}

setup-description,
play-style-description {
  font-family: "JosefinSans-Regular";
  font-size: 25px;
  display: block;
  margin-top: 6px;
  letter-spacing: -0.5px;
  width: 800px;
  white-space: pre-line;
}

setup-description {
  margin-bottom: 10px;
}

second-section-container icon {
  width: 32px;
  height: 32px;
  margin-bottom: -9px;
  margin-left: -3px;
  margin-right: 0px;
  margin-top: -10px;
  display: inline-block;
}

second-section-container icon.sacred-site {
  width: 55px;
}

complexity {
  display: block;
  padding-top: 2px;
  padding-left: 5%;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-bottom: 2px;
  width: 800px;
}

complexity::before,
complexity::after {
  background-image: url("../images/board/growth_underline.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 800px;
  height: 5px;
  margin-top: 2px;
  margin-left: -10px;
  margin-right: 5px;
  margin-bottom: 2px;
  content: "";
  display: block;
  filter: brightness(0.4);
}

complexity-value {
  color: white;
  background-image: url("../images/customIcons/Complexity_Bar_Image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 20px;
  display: inline-block;
  text-align: left;
  letter-spacing: 1px;
}

complexity-title {
  padding-right: 20px;
}

summary-of-powers {
  bottom: -190px;
  position: absolute;
}

lore-overlay {
  background-image: url("../images/board/BlankLoreBoard.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 99.5%;
  width: 100%;
  position: absolute;
}

div.summary-of-powers-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  padding-left: 40px;
  padding-right: 40px;
}

.powers-summary {
  margin-top: -125px;
}

.powers-summary tbody tr td {
  width: 120px;
  font-family: "Name Headings";
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

tr.power-bars {
  height: 157px;
}

table.has-note tr.power-bars {
  height: 110px;
}

table.has-note tr.power-bars td {
  height: 110px;
}

tr.power-bars td {
  height: 140px;
}

tr.power-bars.has-summary td {
  height: 110px;
}

tr.power-bars td div {
  height: 115px;
}

table.powers-summary.has-uses {
  padding-right: 15px;
}

table.powers-summary.has-uses power-bar {
  margin-left: 14px;
}

table.powers-summary.has-uses td.power-divider {
  width: 10px;
}

tr.note-row {
  height: 32px;
}

tr.note-row note {
  position: relative;
  margin-bottom: 0px;
  margin-top: -30px;
  padding-left: 25px;
  padding-right: 25px;
  height: 10px;
  display: block;
  font-size: 18px;
}

summary-of-powers .offense,
summary-of-powers .control,
summary-of-powers .fear,
summary-of-powers .defense,
summary-of-powers .utility {
  display: block;
  width: 60px;
  margin-left: 27px;
  background-repeat: no-repeat;
  background-size: cover;
}

.offense {
  background-image: url("../images/customIcons/Offense_Bar.png");
}
.control {
  background-image: url("../images/customIcons/Control_Bar_Image.png");
}
.fear {
  background-image: url("../images/customIcons/Fear_Bar_Image.png");
}
.defense {
  background-image: url("../images/customIcons/Defense_Bar_Image.png");
}
.utility {
  background-image: url("../images/customIcons/Utility_Bar_Image.png");
}

td.power-divider {
  background-image: url(../images/board/Growthborder.png);
  background-repeat: no-repeat;
  width: 5px;
  background-position: center;
  background-size: cover;
  margin-left: -10px;
  margin-right: -10px;
  filter: brightness(0.4);
}

table.powers-summary.has-uses td {
  width: 90px;
}

td.uses-icon {
  width: 140px;
}

icon.uses-icon {
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
}

uses-icon-holder {
  display: inline-flex;
  width: 142px;
  height: 140px;
  flex-wrap: wrap;
  flex-direction: column;
}

tr.note-row {
  margin-top: 10px;
}

/* Icon Stuff */
icon {
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
}

second-section-container icon.sun {
  background-image: url(../images/board/element_simple_sun.png);
}
second-section-container icon.earth {
  background-image: url(../images/board/element_simple_earth.png);
}
second-section-container icon.plant {
  background-image: url(../images/board/element_simple_plant.png);
}
second-section-container icon.fire {
  background-image: url(../images/board/element_simple_fire.png);
}
second-section-container icon.air {
  background-image: url(../images/board/element_simple_air.png);
}
second-section-container icon.moon {
  background-image: url(../images/board/element_simple_moon.png);
}
second-section-container icon.animal {
  background-image: url(../images/board/element_simple_animal.png);
}
second-section-container icon.water {
  background-image: url(../images/board/element_simple_water.png);
}
second-section-container icon.any {
  background-image: url(../images/board/element_simple_any.png);
}
