@font-face {
  font-family: JosefinSans-Regular;
  src: url(../fonts/josefin-sans/JosefinSans-Regular.ttf) format("truetype");
  font-weight: normal;
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}

html {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

body {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center; */
}

* {
  pointer-events: none;
}

cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

card {
  position: relative;
  overflow: hidden;
  display: block;
  background: transparent;
  width: 488px;
  height: 682px;
  border-radius: 22px;
  background-image: url("../images/power-card-assets/PowerCardBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: margin-right 0.5s;
  pointer-events: auto;
}

cards.enable-stack-view card.stack-view {
  margin-right: -385px;
}

cards.enable-stack-view card {
  filter: drop-shadow(2px 4px 6px black);
}

cards.enable-stack-view card-back {
  filter: drop-shadow(2px 4px 6px black);
}

card-frame {
  background-image: url("../images/power-card-assets/PowerCardBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

card.major card-frame {
  background-image: url("../images/power-card-assets/Major_Background.png");
}

card.minor card-frame {
  background-image: url("../images/power-card-assets/Minor_Background.png");
}

card.round-border {
  border-radius: 22px;
}

card.fast info-speed {
  background-image: url("../images/50px-Fasticon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 40px 30px;
}

card.slow info-speed {
  background-image: url("../images/50px-Slowicon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 30px;
}

card-back {
  width: 488px;
  height: 682px;
  border-radius: 22px;
  position: relative;
  overflow: hidden;
}

/* card-back::after {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 488px;
  height: 682px;
  background-image: url("../images/Unique-Power-Back.png");
  background-size: cover;
  content: "";
} */

card-back-overlay {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../images/Unique-Power-Back.png");
  background-size: cover;
  content: "";
}

.image-back {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

cost {
  font-family: "Energy Font";
  font-size: 34px;
  color: white;
  text-align: center;
  position: absolute;
  left: 20px;
  top: 18px;
  width: 106px;
  aspect-ratio: 1;
  z-index: 7;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cost::before {
  z-index: -1;
  position: absolute;
  top: -30px;
  width: 107px;
  height: 120px;

  content: "";

  background-repeat: no-repeat;
  background-size: contain;
}
card.fast cost::before {
  left: -35px;
  background-image: url("../images/fast-cost-overlay.png");
}
card.slow cost::before {
  left: -32px;
  background-image: url("../images/slow-cost-overlay.png");
} */

card.fast cost {
  background-image: url("../images/power-card-assets/CostFast.png");
}

card.slow cost {
  background-image: url("../images/power-card-assets/CostSlow.png");
}

type-watermark {
  position: absolute;
  display: block;
  width: 67px;
  aspect-ratio: 1;
  top: 26px;
  left: 392px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

card.major type-watermark {
  background-image: url("../images/power-card-assets/MajorTitleSymbol.png");
}

card.minor type-watermark {
  background-image: url("../images/power-card-assets/MinorTitleSymbol.png");
}

name {
  position: relative;
  width: 100%;
  font-size: 28px;
  line-height: 32px;
  word-spacing: -3px;
  font-family: "Short Name Headings";
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: normal;
  align-items: center;
  z-index: 6;
  margin-bottom: 3px;
}

name-holder {
  position: absolute;
  left: 133px;
  top: 25px;
  height: 68px;
  width: 320px;
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: normal;
  align-items: center;
  z-index: 6;
}

card:hover name {
  text-shadow: -1px 1px 0 #000000, 1px 1px 0 #000000, 1px -1px 0 #000000, -1px -1px 0 #000000;
  cursor: pointer;
}

element {
  position: absolute;
  display: block;
  left: 37px;
  width: 52px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

element.sun {
  background-image: url("../images/board/Sun.png");
  top: 122px;
  left: 34px;
  width: 57px;
}
element.moon {
  background-image: url("../images/board/Moon.png");
  top: 186px;
  left: 37px;
  width: 52px;
}
element.fire {
  background-image: url("../images/board/Fire.png");
  top: 251px;
  left: 33px;
  width: 58px;
}
element.air {
  background-image: url("../images/board/Air.png");
  top: 315px;
  left: 34px;
  width: 57px;
}
element.plant {
  background-image: url("../images/board/Plant.png");
  top: 509px;
  left: 34px;
  width: 55px;
}
element.water {
  background-image: url("../images/board/Water.png");
  top: 379px;
  left: 34px;
  width: 56px;
}
element.earth {
  background-image: url("../images/board/Earth.png");
  top: 444px;
  left: 35px;
  width: 55px;
}
element.animal {
  background-image: url("../images/board/Animal.png");
  top: 574px;
  left: 34px;
  width: 56px;
}

.image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 5;
}

card-art {
  position: absolute;
  display: block;
  left: 105px;
  top: 97px;
  width: 358px;
  height: 258px;
  border-top-left-radius: 10px;
  z-index: 0;
}

info-title {
  position: absolute;
  left: 105px;
  top: 341px;
  height: 11px;
  width: 357px;
  z-index: 7;
}

info {
  position: absolute;
  left: 108px;
  top: 358px;
  width: 353px;
  height: 38px;
  z-index: 1;

  display: flex;

  font-family: "Name Headings";
  text-transform: uppercase;
  background-size: 100%;
}

info-title-speed,
info-title-range,
info-title-target {
  color: white;
}

info-title-speed,
info-speed {
  width: 109px;
}
info-title-range,
info-range {
  width: 123px;
  padding-right: 1px;
}
info-title-target,
info-target {
  flex-grow: 1;
}

info-range {
  font-size: 26px;
  font-family: "Antropos";
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

info-range icon.sand,
info-range icon.sands {
  background-image: url("../images/board/sands-presence.png");
}
info-range icon.wetland,
info-range icon.wetlands {
  background-image: url("../images/board/wetland-presence.png");
}
info-range icon.mountain {
  background-image: url("../images/board/mountain-presence.png");
}
info-range icon.jungle {
  background-image: url("../images/board/jungle-presence.png");
}
info-range icon.ocean {
  background-image: url("../images/board/ocean-presence.png");
  width: 45px;
}

info-range icon.jungle-wetland,
info-range icon.wetland-jungle {
  background-image: url("../images/board/junglewetland-presence.png");
}
info-range icon.jungle-wetlands,
info-range icon.wetlands-jungle {
  background-image: url("../images/board/junglewetland-presence.png");
}
info-range icon.jungle-sand,
info-range icon.sand-jungle {
  background-image: url("../images/board/junglesand-presence.png");
}
info-range icon.jungle-sands,
info-range icon.sands-jungle {
  background-image: url("../images/board/junglesand-presence.png");
}
info-range icon.sand-wetland,
info-range icon.wetland-sand {
  background-image: url("../images/board/sandwetland-presence.png");
}
info-range icon.sand-wetlands,
info-range icon.wetlands-sand {
  background-image: url("../images/board/sandwetland-presence.png");
}
info-range icon.sands-wetland,
info-range icon.wetland-sands {
  background-image: url("../images/board/sandwetland-presence.png");
}
info-range icon.sands-wetlands,
info-range icon.wetlands-sands {
  background-image: url("../images/board/sandwetland-presence.png");
}
info-range icon.mountain-jungle,
info-range icon.jungle-mountain {
  background-image: url("../images/board/mountainjungle-presence.png");
}
info-range icon.mountain-wetland,
info-range icon.wetland-mountain {
  background-image: url("../images/board/mountainwetland-presence.png");
}
info-range icon.mountain-wetlands,
info-range icon.wetlands-mountain {
  background-image: url("../images/board/mountainwetland-presence.png");
}
info-range icon.mountain-sand,
info-range icon.sand-mountain {
  background-image: url("../images/board/mountainsand-presence.png");
}
info-range icon.mountain-sands,
info-range icon.sands-mountain {
  background-image: url("../images/board/mountainsand-presence.png");
}

info-target {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

info-target icon {
  margin-top: 0px;
  margin-bottom: 0px;
}

info-target icon.terrain-double {
  width: 60px;
}

rules-container {
  position: absolute;
  left: 106px;
  top: 398px;
  width: 357px;
  height: 245px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "JosefinSans-Regular";
  font-size: 23px;
  line-height: 30px;
  letter-spacing: -0.5px;
}

/* rules-container::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-image: url("../images/card-text-overlay.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 3px;
  height: 6px;
} */

rules {
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  padding-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

rules:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 2px;
}

rules > div {
  width: 100%;
}

threshold {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 346px;
  padding-left: 5px;
  padding-right: 5px;

  background-image: url("../images/threshold-back.png");
  background-position: center top;
  background-size: 100%;

  bottom: 0px;
  padding-bottom: 5px;
  padding-top: 22px;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 2px;
}

.threshold-custom {
  background-image: url("../images/threshold-back-custom.png");
  padding-top: 38px;
}

threshold.threshold-custom::before {
  content: attr(data-before);
  font-family: "Name Headings";
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #431e0aff;
  position: relative;
  right: 0%;
  top: -22px;
  margin-bottom: -18px;
  font-size: 16px;
  line-height: 18px;
}

custom-threshold-flex {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0px;
  justify-content: center;
}

custom-threshold-text {
  flex-shrink: 0;
  margin-left: 2px;
  margin-right: 2px;
  word-spacing: -2px;
  font-size: 16px;
  line-height: 16px;
  font-family: "Name Headings";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #220f00;
}

arrow-left,
arrow-right {
  background-image: url("../images/board/card_threshold_arrow.png");
  display: inline;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 14px;
  margin-top: 2px;
  opacity: 0.1;
}

arrow-right {
  transform: scaleX(-1);
}

threshold-condition {
  display: block;
  font-size: 27px;
  font-family: "Energy Font";
  margin-bottom: 5px;
}

threshold-condition icon {
  margin-bottom: -2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -15px;
  width: 32px;
  height: 32px;
}

artist-name {
  position: absolute;
  left: 126px;
  top: 647px;
  width: 253px;
  height: 10px;

  color: rgba(255, 255, 255, 0.8);
  font-family: "JosefinSans-Regular";
  font-size: 11px;
}

.or,
or {
  background-image: url("../images/or.png");
  background-size: 45%;

  display: block;
  height: 35px;
  width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.or:lang(pl) {
  background-image: url("../images/or_pl.png");
}

.or:lang(de) {
  background-image: url("../images/or_de.png");
}

icon {
  width: 25px;
  height: 25px;
  margin-top: -7px;
  margin-bottom: -4px;
}

icon.bigger {
  height: 30px;
  width: 30px;
  margin-bottom: -10px;
}

info-range icon {
  width: 40px;
  height: 32px;
}

info-range range {
  width: 60px;
  font-size: 34px;
  line-height: 16px;
  top: 2px;
}

info-target icon {
  width: 45px;
  height: 32px;
}

info-target icon.spirit {
  width: 32px;
  height: 28px;
}

icon.range {
  width: 50px;
  margin-top: -10px;
}

icon.presence {
  height: 20px;
}

rules icon.sacred-site {
  width: 39px;
  height: 37px;
  margin-top: -12px;
  margin-bottom: -12px;
}

rules-container icon.fast,
rules-container icon.slow {
  height: 32px;
  width: 40px;
  margin-bottom: -7px;
}

rules-container icon.fast {
  background-image: url("../images/board/fast_power.png");
}

rules-container icon.slow {
  background-image: url("../images/board/slow_power.png");
}

icon.sun,
icon.moon,
icon.fire,
icon.air,
icon.water,
icon.earth,
icon.plant,
icon.animal,
icon.any-element {
  width: 40px;
  height: 40px;
  margin-bottom: -13px;
  margin-left: -5px;
  margin-right: -5px;
}

rules icon.jungle,
rules icon.mountain,
rules icon.sand,
rules icon.wetland,
rules icon.ocean,
rules icon.jungle-presence,
rules icon.mountain-presence,
rules icon.sand-presence,
rules icon.sacred-site rules icon.wetland-presence {
  width: 30px;
  height: 30px;
  margin-bottom: -10px;
}

/* rules icon.jungle-sand,
rules icon.jungle-wetland,
rules icon.mountain-jungle,
rules icon.mountain-sand,
rules icon.mountain-wetland,
rules icon.sand-wetland {
  width: 50px;
  height: 28px;
  margin-bottom: -8px;
  margin-left: -4px;
  margin-right: -4px;
} */

rules-container icon.terrain-double {
  width: 68px;
  height: 39px;
  margin-bottom: -14px;
  margin-left: -4px;
  margin-right: -4px;
}

rules icon.sun {
  background-image: url(../images/board/element_simple_sun.png);
}
rules icon.earth {
  background-image: url(../images/board/element_simple_earth.png);
}
rules icon.plant {
  background-image: url(../images/board/element_simple_plant.png);
}
rules icon.fire {
  background-image: url(../images/board/element_simple_fire.png);
}
rules icon.air {
  background-image: url(../images/board/element_simple_air.png);
}
rules icon.moon {
  background-image: url(../images/board/element_simple_moon.png);
}
rules icon.animal {
  background-image: url(../images/board/element_simple_animal.png);
}
rules icon.water {
  background-image: url(../images/board/element_simple_water.png);
}
rules icon.any {
  background-image: url(../images/board/element_simple_any.png);
}

rules icon.sun,
rules icon.moon,
rules icon.fire,
rules icon.air,
rules icon.water,
rules icon.earth,
rules icon.plant,
rules icon.animal,
rules icon.any {
  width: 28px;
  height: 28px;
  margin-bottom: -3px;
  margin-left: 0px;
  margin-right: 0px;
}

threshold icon.sun {
  background-image: url(../images/board/element_simple_sun.png);
}
threshold icon.earth {
  background-image: url(../images/board/element_simple_earth.png);
}
threshold icon.plant {
  background-image: url(../images/board/element_simple_plant.png);
}
threshold icon.fire {
  background-image: url(../images/board/element_simple_fire.png);
}
threshold icon.air {
  background-image: url(../images/board/element_simple_air.png);
}
threshold icon.moon {
  background-image: url(../images/board/element_simple_moon.png);
}
threshold icon.animal {
  background-image: url(../images/board/element_simple_animal.png);
}
threshold icon.water {
  background-image: url(../images/board/element_simple_water.png);
}
threshold icon.any {
  background-image: url(../images/board/element_simple_any.png);
}

threshold icon.element {
  width: 32px;
  height: 32px;
  margin-bottom: -5px;
  margin-left: 1px;
  margin-right: 1px;
}

threshold icon.last {
  margin-right: 1px;
}

spirit-name {
  display: none;
}

power-subtitle {
  background-image: url("../images/board/powercard_aspect_banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  display: none;
  z-index: 6;
  word-spacing: -3px;
  font-family: "Short Name Headings";
  color: white;
  font-size: 18px;
  height: 96px;
  width: 358px;
  top: 25px;
  left: 105px;
  border-top-right-radius: 23px;
  line-height: 28px;
}

card.printer-clean power-subtitle {
  background-image: none;
  color: black;
}

card.aspect power-subtitle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media print {
  element-background {
    background-color: rgb(220, 220, 220);
    position: absolute;
    height: 530px;
    width: 75px;
    top: 120px;
    left: 30px;
  }
}

card rules-container range-value {
  top: -7px;
}

card.printer-clean card-frame {
  background-image: none;
  background-color: white;
  border: black 3px solid;
  box-sizing: border-box;
  border-radius: 22px;
}

card.printer-clean threshold {
  background-image: none;
  background-color: white;
}

card.printer-clean name {
  color: black;
}

card.printer-clean card-art {
  z-index: 1;
}

rules-container range.gain-range {
  font-size: 24px;
  background-position-y: 23px;
  justify-content: flex-start;
  padding-left: 10px;
  width: 40px;
  bottom: 4px;
  margin-right: 4px;
}
