@font-face {
  font-family: "Lato Regular";
  src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato SemiBold";
  src: url(../fonts/lato/Lato-Semibold.ttf);
}

@font-face {
  font-family: "Mouse Memoirs";
  src: url(../fonts/Mouse_Memoirs/MouseMemoirs-Regular.ttf);
}

@font-face {
  font-family: "Gobold Extra2";
  src: url(../fonts/Gobold-Extra2/Gobold_Extra2.otf);
}

@font-face {
  font-family: "Antropos";
  src: url(../fonts/antropos-font/AntroposFreefont-BW2G.ttf);
}

@font-face {
  font-family: "SI-Crushed";
  src: url(../fonts/SI-Crushed/CrushedAlt04.ttf);
}

@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/Noto_Sans/NotoSans-Bold.ttf);
}

@font-face {
  font-family: "Name Headings";
  src: url(../fonts/DKSnemand/DKSnemandTall.otf),
    url(../fonts/Mouse_Memoirs/MouseMemoirs-Regular.ttf);
}

@font-face {
  font-family: "Short Name Headings";
  src: url(../fonts/DKSnemand/DKSnemandShort.otf),
    url(../fonts/Mouse_Memoirs/MouseMemoirs-Regular.ttf);
}

@font-face {
  font-family: "Energy Font";
  src: url(../fonts/Gobold-Extra2/Gobold-Extra2.otf), url(../fonts/Noto_Sans/NotoSans-Bold.ttf);
}

@font-face {
  font-family: "Lato SemiBold";
  src: url(../fonts/lato/Lato-BoldItalic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "JosefinSans";
  src: url(../fonts/josefin-sans/JosefinSans-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.5px;
}

@font-face {
  font-family: "JosefinSansLore";
  src: url(../fonts/josefin-sans/JosefinSans-SemiBoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.5px;
}

body {
  font-variant-ligatures: none;
}

icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

icon.no {
  background-image: url("../images/board/no.png");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 65px;
  height: 35px;
  z-index: 1;
}

no-icon {
  background-image: url("../images/board/no.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 105%;
  height: 105%;
  margin: auto;
  opacity: 1;
}

icon.incarna {
  background-image: url("../images/board/NewIcons/incarna-unempower.png");
  filter: invert(0);
}
icon.range {
  background-image: url("../images/50px-Rangeicon.png");
}
icon.range-growth {
  background-image: url("../images/board/range_arrow.png");
}
icon.spirit {
  background-image: url("../images/50px-Spiriticon.png");
}
icon.player {
  background-image: url("../images/50px-Spiriticon.png");
}
icon.player-spirit {
  background-image: url("../images/50px-Spiriticon.png");
}

icon.badland {
  background-image: url("../images/board/48px_badlands.png");
}
icon.badlands {
  background-image: url("../images/board/48px_badlands.png");
}
icon.beast {
  background-image: url("../images/board/beast.png");
}
icon.beasts {
  background-image: url("../images/board/beast.png");
}
icon.disease {
  background-image: url("../images/board/75px_disease.png");
}
icon.strife {
  background-image: url("../images/board/75px_strife.png");
}
icon.wild {
  background-image: url("../images/board/wilds.png");
}
icon.wilds {
  background-image: url("../images/board/wilds.png");
}

icon.fast {
  background-image: url("../images/50px-Fasticon.png");
}
icon.slow {
  background-image: url("../images/50px-Slowicon.png");
}
icon.blight {
  background-image: url("../images/board/75px_blight.png");
}
icon.dahan {
  background-image: url("../images/board/dahan.png");
}
icon.fear {
  background-image: url("../images/board/fear.png");
}
icon.escalation {
  background-image: url("../images/25px-Stage_II_Escalation.png");
}

icon.explorer {
  background-image: url("../images/board/explorer.png");
  margin-left: -4px;
  margin-right: -7px;
}

icon.town {
  background-image: url("../images/board/50px_town.png");
}
icon.city {
  background-image: url("../images/board/75px_city.png");
}

icon.presence-white {
  background-image: url("../images/25px-Presenceicon-inverse.png");
  margin-left: 3px;
  margin-right: 3px;
}
icon.presence {
  background-image: url("../images/board/50px_presence.png");
}
icon.destroyed-presence,
icon.destroy-presence {
  background-image: url("../images/board/NewIcons/Misc Presence Destroy.png");
}
icon.sacred-site {
  background-image: url("../images/board/sacred_site.png");
}

icon.sun {
  background-image: url("../images/board/Sun.png");
}
icon.moon {
  background-image: url("../images/board/Moon.png");
}
icon.fire {
  background-image: url("../images/board/Fire.png");
}
icon.air {
  background-image: url("../images/board/Air.png");
}
icon.plant {
  background-image: url("../images/board/Plant.png");
}
icon.water {
  background-image: url("../images/board/Water.png");
}
icon.earth {
  background-image: url("../images/board/Earth.png");
}
icon.animal {
  background-image: url("../images/board/Animal.png");
}
icon.star {
  background-image: url("../images/board/NewIcons/Element Star.png");
}
icon.any {
  background-image: url("../images/board/Any.png");
}
icon.copy {
  background-image: url("../images/board/Copy.png");
}

icon.markerplus {
  background-image: url("../images/board/NewIcons/Element Marker Gain 1.png");
}
icon.markerminus {
  background-image: url("../images/board/NewIcons/Element Marker Pay 1.png");
}
icon.markerquestion {
  background-image: url("../images/customIcons/marker-question.png");
}

icon.sand {
  background-image: url("../images/board/sand.png");
}
icon.sands {
  background-image: url("../images/board/sand.png");
}
icon.mountain {
  background-image: url("../images/board/mountain.png");
}
icon.jungle {
  background-image: url("../images/board/jungle.png");
}
icon.wetland {
  background-image: url("../images/board/wetland.png");
}
icon.wetlands {
  background-image: url("../images/board/wetland.png");
}
icon.ocean {
  background-image: url("../images/board/ocean.png");
}

icon.jungle-wetland,
icon.wetland-jungle {
  background-image: url("../images/board/junglewetland.png");
}
icon.jungle-wetlands,
icon.wetlands-jungle {
  background-image: url("../images/board/junglewetland.png");
}
icon.jungle-sand,
icon.sand-jungle {
  background-image: url("../images/board/junglesand.png");
}
icon.jungle-sands,
icon.sands-jungle {
  background-image: url("../images/board/junglesand.png");
}
icon.sand-wetland,
icon.wetland-sand {
  background-image: url("../images/board/sandwetland.png");
}
icon.sand-wetlands,
icon.wetlands-sand {
  background-image: url("../images/board/sandwetland.png");
}
icon.sands-wetland,
icon.wetland-sands {
  background-image: url("../images/board/sandwetland.png");
}
icon.sands-wetlands,
icon.wetlands-sands {
  background-image: url("../images/board/sandwetland.png");
}
icon.mountain-jungle,
icon.jungle-mountain {
  background-image: url("../images/board/mountainjungle.png");
}
icon.mountain-wetland,
icon.wetland-mountain {
  background-image: url("../images/board/mountainwetland.png");
}
icon.mountain-wetlands,
icon.wetlands-mountain {
  background-image: url("../images/board/mountainwetland.png");
}
icon.mountain-sand,
icon.sand-mountain {
  background-image: url("../images/board/mountainsand.png");
}
icon.mountain-sands,
icon.sands-mountain {
  background-image: url("../images/board/mountainsand.png");
}

icon.sands-presence {
  background-image: url("../images/board/sands-presence.png");
}
icon.sand-presence {
  background-image: url("../images/board/sands-presence.png");
}
icon.mountain-presence {
  background-image: url("../images/board/mountain-presence.png");
}
icon.wetland-presence {
  background-image: url("../images/board/wetland-presence.png");
}
icon.jungle-presence {
  background-image: url("../images/board/jungle-presence.png");
}

:lang(de) {
  icon.sand {
    background-image: url("../images/board/german-landtype/wuste.png");
  }
  icon.sands {
    background-image: url("../images/board/german-landtype/wuste.png");
  }
  icon.mountain {
    background-image: url("../images/board/german-landtype/berg.png");
  }
  icon.jungle {
    background-image: url("../images/board/german-landtype/dschungel.png");
  }
  icon.wetland {
    background-image: url("../images/board/german-landtype/sumpf.png");
  }
  icon.wetlands {
    background-image: url("../images/board/german-landtype/sumpf.png");
  }

  icon.jungle-wetland,
  icon.wetland-jungle {
    background-image: url("../images/board/german-landtype/dschungel-sumpf.png");
  }
  icon.jungle-wetlands,
  icon.wetlands-jungle {
    background-image: url("../images/board/german-landtype/dschungel-sumpf.png");
  }
  icon.jungle-sand,
  icon.sand-jungle {
    background-image: url("../images/board/german-landtype/dschungel-wuste.png");
  }
  icon.jungle-sands,
  icon.sands-jungle {
    background-image: url("../images/board/german-landtype/dschungel-wuste.png");
  }
  icon.sand-wetland,
  icon.wetland-sand {
    background-image: url("../images/board/german-landtype/wuste-sumpf.png");
  }
  icon.sand-wetlands,
  icon.wetlands-sand {
    background-image: url("../images/board/german-landtype/wuste-sumpf.png");
  }
  icon.sands-wetland,
  icon.wetland-sands {
    background-image: url("../images/board/german-landtype/wuste-sumpf.png");
  }
  icon.sands-wetlands,
  icon.wetlands-sands {
    background-image: url("../images/board/german-landtype/wuste-sumpf.png");
  }
  icon.mountain-jungle,
  icon.jungle-mountain {
    background-image: url("../images/board/german-landtype/berg-dschungel.png");
  }
  icon.mountain-wetland,
  icon.wetland-mountain {
    background-image: url("../images/board/german-landtype/berg-sumpf.png");
  }
  icon.mountain-wetlands,
  icon.wetlands-mountain {
    background-image: url("../images/board/german-landtype/berg-sumpf.png");
  }
  icon.mountain-sand,
  icon.sand-mountain {
    background-image: url("../images/board/german-landtype/berg-wuste.png");
  }
  icon.mountain-sands,
  icon.sands-mountain {
    background-image: url("../images/board/german-landtype/berg-wuste.png");
  }

  icon.sands-presence {
    background-image: url("../images/board/german-landtype/wuste-prasenz.png");
  }
  icon.sand-presence {
    background-image: url("../images/board/german-landtype/wuste-prasenz.png");
  }
  icon.mountain-presence {
    background-image: url("../images/board/german-landtype/berg-prasenz.png");
  }
  icon.wetland-presence {
    background-image: url("../images/board/german-landtype/sumpf-prasenz.png");
  }
  icon.jungle-presence {
    background-image: url("../images/board/german-landtype/dschungel-prasenz.png");
  }
}

icon.damage-1 {
  background-image: url("../images/board/NewIcons/Damage 1.png");
}
icon.damage-2 {
  background-image: url("../images/board/NewIcons/Damage 2.png");
}

icon.terror-1 {
  background-image: url("../images/board/NewIcons/TerrorLevel1.png");
  width: 25px;
  padding: 5px;
  margin-bottom: -8px;
}
icon.terror-2 {
  background-image: url("../images/board/NewIcons/TerrorLevel2.png");
  width: 25px;
  padding: 5px;
  margin-bottom: -8px;
}
icon.terror-3 {
  background-image: url("../images/board/NewIcons/TerrorLevel3.png");
  width: 25px;
  padding: 5px;
  margin-bottom: -8px;
}

icon.range-0 {
  background-image: url("../images/board/presence_range_0.png");
}
icon.range-1 {
  background-image: url("../images/board/presence_range_1.png");
}
icon.range-2 {
  background-image: url("../images/board/presence_range_2.png");
}
icon.range-3 {
  background-image: url("../images/board/presence_range_3.png");
}
icon.range-4 {
  background-image: url("../images/board/presence_range_4.png");
}
icon.range-x,
icon.range-X {
  background-image: url("../images/board/presence_range_x.png");
}
icon.gain-range-1 {
  background-image: url("../images/board/NewIcons/Range Gain 1.png");
}
icon.gain-range-2 {
  background-image: url("../images/board/NewIcons/Range Gain 2.png");
}
icon.gain-range-3 {
  background-image: url("../images/board/NewIcons/Range Gain 3.png");
}
icon.gain-range-X,
icon.gain-range-x {
  background-image: url("../images/board/NewIcons/Range Gain X.png");
}
icon.move-arrow {
  background-image: url("../images/board/move_arrow.png");
}

icon.isolate {
  background-image: url("../images/board/NewIcons/Isolate.png");
}
icon.minor {
  background-image: url("../images/board/NewIcons/Misc Minor.png");
}
icon.major {
  background-image: url("../images/board/NewIcons/Misc Major.png");
}
icon.make-fast {
  background-image: url("../images/board/fast_power.png");
}

icon.reclaim-all {
  background-image: url("../images/board/Reclaimall.png");
}
icon.reclaim-one {
  background-image: url("../images/board/Reclaimone.png");
}
icon.reclaim-none {
  background-image: url("../images/board/Reclaimnone.png");
}
icon.reclaim-custom {
  background-image: url("../images/board/Reclaimspecial.png");
}
icon.reclaim-half {
  background-image: url("../images/board/Reclaimhalf.png");
}

icon.gain-power-card {
  background-image: url("../images/board/Gaincardicon.png");
}
icon.gain-power-card-blank {
  background-image: url("../images/board/NewIcons/Card\ Blank.png");
}
icon.take-power-card {
  background-image: url("../images/customIcons/Take\ a\ Power.png");
}
icon.forget-power-card {
  background-image: url("../images/customIcons/forgetCardIcon.png");
}
icon.discard-cards,
icon.discard-2-cards {
  background-image: url("../images/board/discard_power_cards.png");
}
icon.discard-card,
icon.discard-1-card {
  background-image: url("../images/board/NewIcons/Card Discard 1.png");
}
icon.gain-card-play {
  background-image: url("../images/board/Cardplay_Plus_1.png");
}
icon.gain-card-play-blank {
  background-image: url("../images/board/NewIcons/Cardplay Gain Blank.png");
}
icon.gain-card-pay-2 {
  background-image: url("../images/board/NewIcons/Card Gain 1 Energy Pay 2.png");
}

icon.energy-per-play {
  background-image: url("../images/board/NewIcons/Energy Gain 1 Per Cardplay.png");
}

icon.ignore-range {
  background-image: url("../images/board/NewIcons/Range Ignore.png");
}

icon.gain-1-time {
  background-image: url("../images/board/NewIcons/Time Gain 1.png");
}
icon.gain-2-time {
  background-image: url("../images/board/NewIcons/Time Gain 2.png");
}
icon.days-never-were {
  background-image: url("../images/board/NewIcons/Card Days That Never Were Gain 1.png");
}

icon.push-from {
  background-image: url("../images/board/NewIcons/Land Push.png");
}
icon.push {
  background-image: url("../images/board/NewIcons/Land Push.png");
}
icon.gather {
  background-image: url("../images/board/NewIcons/Track_Gather.png");
}
icon.gather-into {
  background-image: url("../images/board/NewIcons/Track_Gather.png");
}
icon.your-land {
  background-image: url("../images/board/NewIcons/Land.png");
}

icon.incarna-ember {
  background-image: url("../images/board/NewIcons/incarna-ember.png");
}
icon.incarna-breath {
  background-image: url("../images/board/NewIcons/incarna-breath.png");
}
icon.incarna-roots {
  background-image: url("../images/board/NewIcons/incarna-roots.png");
}
icon.incarna-wvkd {
  background-image: url("../images/board/NewIcons/incarna-wvkd.png");
}
icon.incarna-warrior {
  background-image: url("../images/board/NewIcons/incarna-warrior.png");
}
icon.incarna-locus {
  background-image: url("../images/board/NewIcons/incarna-locus.png");
}
icon.incarna-lair {
  background-image: url("../images/board/NewIcons/incarna-lair.png");
}
icon.empower-incarna {
  background-image: url("../images/board/NewIcons/empower-incarna.png");
}
icon.unempowered-incarna {
  background-image: url("../images/board/NewIcons/incarna-unempower.png");
}

icon.blank75 {
  background-image: url("../images/customIcons/blank75.png");
}

icon.resilience,
icon.vitality {
  background-image: url("../images/board/NewIcons/Vitality.png");
}

icon.forget {
  background-image: url("../images/board/NewIcons/ForgetIcon.png");
}

icon.noforget {
  background-image: url("../images/board/NewIcons/NoForgetIcon.png");
}

range {
  width: 50px;
  height: 32px;
  margin-top: -20px;
  margin-bottom: -20px;
  display: inline-flex;
  position: relative;
  text-align: center;
  background-image: url("../images/50px-Rangeicon.png");
  background-repeat: no-repeat;
  background-position-y: 20px;
  background-size: contain;
  font-family: "Antropos";
  font-size: 40px;
  justify-content: center;
}

range-value {
  position: relative;
  top: -2px;
  left: -1px;
  font-size: 24px;
}

range > icon.range-small-icon,
range.range > icon.range-small-icon,
range > range-value.range-icon > icon {
  width: 33px;
  height: 22px;
  position: relative;
  margin: 0px;
  top: 2px;
}

no-range {
  width: 88px;
  height: 4px;
  text-align: center;
  background-image: url("../images/no-range.png");
  background-repeat: no-repeat;
  background-size: 88px 4px;
}

#single-line {
  padding-top: 12px;
  padding-bottom: 4px;
}

custom-icons {
  display: none;
  position: absolute;
}

created-with {
  position: absolute;
  left: 1565px;
  top: 1162px;
  font-size: 12px;
  font-family: monospace;
  color: #d1c5a6;
  text-align: left;
  z-index: 1;
  display: block;
  white-space: normal;
  letter-spacing: 1.5px;
}

custom-meeple {
  background-image: url(../images/customIcons/Meeple.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 1135px;
  left: 1725px;
  height: 20px;
  width: 20px;
  z-index: 4;
}

custom-energy {
  background-image: url("../../images/board/EnergyBlank.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-top: -10px;
}

binder {
  white-space: nowrap;
}

icon-count {
  display: inline-block;
  margin-right: 4px;
}

binder icon:first-child {
  margin-right: 2px !important;
}

binder icon:last-child {
  margin-left: 2px !important;
}

info-title {
  display: flex;
  align-items: center;
  font-family: "Antropos";
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5px;
}

/* Size options */
icon.tiny {
  width: 15px;
  height: 15px;
}
icon.small {
  width: 25px;
  height: 25px;
}
icon.medium {
  width: 30px;
  height: 30px;
}
icon.large {
  width: 40px;
  height: 40px;
}
icon.huge {
  width: 50px;
  height: 50px;
}
