@import "global.css";
@import "board_front/icon.css";

@font-face {
  font-family: JosefinSans-Regular;
  src: url(../fonts/josefin-sans/JosefinSans-Regular.ttf) format("truetype");
  font-weight: normal;
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}

html {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25%;
  margin-top: 10px;
}

* {
  box-sizing: border-box;
}

incarna {
  display: flex;
  width: 216px;
  height: 241px;
  position: relative;
  top: 2px;
  left: 0px;
}

incarna-wrapper.tts-export incarna.clone {
  position: absolute;
  top: 38px;
  left: 204px;
}

incarna-wrapper {
  /* background-image: url(../images/incarna-background.png); */
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 400px;
  position: relative;
  display: flex;
  align-items: flex-start;
}

incarna-wrapper.tts-export {
  background-image: url(../images/incarna/Incarna_Diffuse_Image_Guideline.png);
  width: 427px;
  height: 427px;
}

incarna-wrapper.tts-export incarna background {
  background-image: url(../images/incarna/background.png);
}

incarna-wrapper.tts-export incarna {
  top: 172px;
  left: 16px;
}

incarna background {
  display: flex;
  background-image: url(../images/incarna/background_white.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  color: orange;
  justify-content: center;
  /* filter: drop-shadow(0px 0px 0px) saturate(1.5); */
}

incarna swirl {
  position: absolute;
  display: flex;
  background-image: url(../images/incarna/swirl_op40.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  /* filter: opacity(0.4); */
}

incarna.empowered swirl {
  background-image: url(../images/incarna/empower_swirl_op40.png);
}

incarna border {
  position: absolute;
  display: none;
  background-image: url(../images/incarna/empower_border.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

incarna.empowered border {
  display: flex;
}

incarna background-color {
  display: flex;
  background-image: url(../images/incarna/incarna_unem_background.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 101px;
  height: 118px;
  position: relative;
  top: 0px;
  left: 0px;
}

incarna glow {
  position: absolute;
  background-image: url(../images/incarna/glow.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  top: 0%;
  width: inherit;
  height: inherit;
}

incarna.empowered glow {
  display: block;
}

incarna icon.presence {
  position: absolute;
  background-image: url(../images/incarna/presence_noglow.png);
  transform: translateX(-50%);
}

incarna icon {
  width: 50px;
  height: 50px;
  position: absolute;
}

incarna-icon-wrapper {
  position: relative;
  top: 30%;
}
presence-icon-wrapper {
  position: relative;
  top: 61%;
}
token-wrapper {
  position: relative;
  top: 74%;
}

contrast-wrapper {
  /* filter: contrast(0.4); */
  position: absolute;
}

contrast-wrapper.token {
  /* top: 76%;
  left: 50%; */
}

contrast-wrapper.presence {
  /* top: 60%;
  left: 50%; */
}

incarna icon.token {
  position: absolute;
  width: 68px;
  height: 46px;
  margin: 0px;
  transform: translateX(-50%);
  filter: contrast(0.4);
}

incarna icon.shadow {
  color: white;
  filter: drop-shadow(2px 0px 0px) drop-shadow(-2px 0px 0px) drop-shadow(0px 2px 0px)
    drop-shadow(0px -2px 0px) contrast(1);
}

incarna.empowered icon.shadow {
  color: #ffd246;
}

incarna icon.incarna {
  width: 96px;
  height: 82px;
  transform: translateX(-50%);
}

incarna icon.sun {
  background-image: url("../images/board/element_simple_sun.png");
  filter: contrast(1) !important;
}

incarna icon.moon {
  background-image: url("../images/board/element_simple_moon.png");
  filter: contrast(1) !important;
}
incarna icon.fire {
  background-image: url("../images/board/element_simple_fire.png");
  filter: contrast(1) !important;
}
incarna icon.air {
  background-image: url("../images/board/element_simple_air.png");
  filter: contrast(1) !important;
}
incarna icon.plant {
  background-image: url("../images/board/element_simple_plant.png");
  filter: contrast(1) !important;
}
incarna icon.water {
  background-image: url("../images/board/element_simple_water.png");
  filter: contrast(1) !important;
}
incarna icon.earth {
  background-image: url("../images/board/element_simple_earth.png");
  filter: contrast(1) !important;
}
incarna icon.animal {
  background-image: url("../images/board/element_simple_animal.png");
  filter: contrast(1) !important;
}
incarna icon.star {
  background-image: url("../images/board/NewIcons/Element Star.png");
  filter: contrast(1) !important;
}
incarna icon.any {
  background-image: url("../images/board/element_simple_any.png");
  filter: contrast(1) !important;
}
