<style></style><quick-card name="Flash Floods" speed="fast" cost="2" image="http://127.0.0.1:5173/template/MyCustomContent/MySpirit/example1.png" range="1" target="ANY" target-title="TARGET LAND" artist-name="ARTIST NAME" elements="sun,water"><rules>1 Damage.

If target land is Coastal,
+1 Damage.</rules></quick-card><quick-card name="Boon of Vigor" speed="fast" cost="0" image="http://127.0.0.1:5173/template/MyCustomContent/MySpirit/example2.png" range="none" target="ANY {spirit}" target-title="TARGET" artist-name="ARTIST NAME" elements="sun,water,plant"><rules>If you target yourself, 
gain 1 Energy.

If you target another Spirit, 
they gain 1 Energy per Power Card they played this turn.</rules></quick-card><quick-card name="River's Bounty" speed="slow" cost="2" image="http://127.0.0.1:5173/template/MyCustomContent/MySpirit/example1.png" range="0" target="ANY" target-title="TARGET LAND" artist-name="ARTIST-NAME" elements="sun,water,animal"><rules>Gather up to 2 {dahan}.

If there are now at least 2 {dahan}, add 1 {dahan} and gain 1 Energy.</rules></quick-card><quick-card name="Wash Away" speed="slow" cost="1" image="http://127.0.0.1:5173/template/MyCustomContent/MySpirit/example2.png" range="1" target="ANY" target-title="TARGET LAND" artist-name="ARTIST NAME" elements="water,earth"><rules>Push up to 3 {explorer/town}.</rules></quick-card><spirit-name>River</spirit-name>