presence-tracks section-title {
  padding-top: 0px;
  margin-top: -3px;
}

/* presence-tracks section-title.has-note {
} */

presence-tracks presence-note {
  font-family: "JosefinSans-Regular";
  font-size: 18.66px;
  margin-left: 8px;
  letter-spacing: -0.75px;
  position: relative;
  display: block;
  margin-top: 10px;
}

presence-tracks {
  display: block;
  position: relative;
  z-index: 2;
  margin-left: 10px;

  padding-bottom: 0px;

  background-image: url("../../images/board/Presence_Without_Text.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top left;
}

board.printer-clean presence-tracks {
  background-image: none;
  background-color: white;
}

presence-tracks:hover section-title {
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
}

presence-tracks:hover {
  cursor: pointer;
}

presence-tracks presence-title {
  margin-left: 39px;
  margin-bottom: 12px;
  padding-top: 0px;
  pointer-events: none;
  height: 37px;
  display: flex;
  align-items: center;
  position: relative;
}

presence-tracks presence-title.tight {
  margin-bottom: 0px;
}

presence-tracks table {
  display: inline-block;
  border-collapse: collapse;
  position: relative;
  pointer-events: none;
  z-index: 2;
}

board.devwrap presence-tracks table {
  pointer-events: all;
}

presence-tracks table td {
  padding: 0px;
  vertical-align: top;
  padding-right: 4px;
}

presence-tracks table td[rowspan="2"] {
  vertical-align: top;
  position: relative;
}

presence-bottom {
  display: block;
  position: absolute;
  background-image: url("../../images/board/Presence_Bottom.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  height: 57px;
  bottom: 0px;
  pointer-events: none;
}

board.printer-clean presence-bottom {
  background-image: none;
  background-color: white;
}

td.middle > presence-node {
  position: relative;
}

td.middle.bonus::before {
  content: "BONUS:";
  font-family: "Name Headings";
  display: block;
  position: absolute;
  left: 23%;
  top: 38px;
  font-size: 26.66px;
}

td.spacer {
  width: 42px;
  display: block;
}

td.spacer.tight {
  width: 10px;
}

presence-node {
  display: inline-flex;
  max-width: 130px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#energy-track presence-node {
  margin-bottom: 43px;
}

#plays-track presence-node {
  margin-bottom: 5px;
}

tr.vertical-tight presence-node,
#plays-track.vertical-tight presence-node,
#energy-track.vertical-tight presence-node {
  margin-bottom: 5px;
}

presence-node.tight {
  margin-bottom: 20px;
}

tr > td:last-of-type {
  padding-right: 0px;
}

td.tight {
  padding-right: 0px;
}

/* tr.plays-track {
  height: 174px;
} */

presence-tracks tr:last-of-type {
  height: 174px;
}

track-banner-art {
  display: flex;
  position: absolute;
  width: 100%;
  height: 130px;
  top: 0px;
  left: 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center left;
  transform: translateY(-50%);
  pointer-events: none;
}

track-banner-art.combined-track {
  height: 100%;
}

subtext {
  font-family: "Lato SemiBold";
  font-size: 18.66px;
  font-style: italic;
  text-align: center;
  display: block;
  margin-top: -1px;
  letter-spacing: 0.5px;
}

board.hide-text subtext {
  visibility: hidden;
}

.adjust-subtext {
  margin-left: -20px;
  margin-right: -20px;
}

td.middle .adjust-subtext {
  margin-left: 0px;
  margin-right: 0px;
}

presence-node ring-icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

presence-node.first ring-icon {
  background-image: url("../../images/board/PresenceInitialRing.png");
}

presence-node ring-icon {
  background-image: url("../../images/board/CardPlayRing.png");
}

presence-node icon.reclaim-one {
  background-image: url("../../images/board/Reclaimone-white.png");
  display: block;
  height: 90px;
  width: 75px;
}

presence-node icon.star {
  width: 80px;
  height: 80px;
}

presence-node icon.empower-incarna {
  width: 93px;
  height: 99px;
  margin-bottom: 3px;
}

presence-node icon.gain-power-card,
presence-node icon.forget-power-card,
presence-node icon.discard-cards,
presence-node icon.discard-2-cards,
presence-node icon.discard-card,
presence-node icon.discard-1-card,
presence-node icon.gain-card-play,
presence-node icon.gain-card-play-blank {
  height: 90px;
  width: 90px;
}

presence-node icon.gain-card-pay-2 {
  height: 130px;
  width: 92px;
}

presence-node card-icon {
  background-image: url("../../images/board/CardPlayBlank.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 75px;
  width: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}

presence-node-multi icon.reclaim-one {
  margin-left: -5px;
  margin-right: 0px;
  margin-top: -25px;
}

presence-node-multi card-icon {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -10px;
}

presence-node-multi icon.gain-card-play,
presence-node-multi icon.gain-power-card,
presence-node-multi icon.gain-power-card-blank {
  height: 80px;
  width: 80px;
  margin-left: -7px;
  margin-right: -5px;
  margin-top: -14px;
}

presence-node-multi icon.gain-power-card-blank icon.small {
  width: 38px;
}

presence-node energy-icon {
  background-image: url("../../images/board/EnergyBlank.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

presence-node-multi energy-icon {
  height: 90px;
  width: 90px;
  margin-left: -10px;
  margin-top: -20px;
}

presence-node icon-shadow {
  background-image: url("../../images/customIcons/Presence Track Back.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

presence-node-multi icon-shadow {
  height: 94px;
  width: 94px;
  margin-left: -5px;
  margin-top: -16px;
  z-index: 0;
  position: absolute;
}

presence-node icon.gain-range-1,
presence-node icon.gain-range-2,
presence-node icon.gain-range-3 {
  margin-bottom: 2px;
  height: 78px;
}

icon.energy-blank {
  display: flex;
  align-items: center;
  justify-content: center;
}

presence-node value {
  font-family: "Energy Font";
  font-size: 48px;
  display: inline-block;
}

presence-node-multi energy-icon value {
  font-size: 34.66px;
}

presence-node-multi card-icon value {
  font-size: 46.66px;
}

presence-node icon {
  width: 68px;
  height: 68px;
}

presence-node icon.isolate,
presence-node icon.custom1,
presence-node icon.custom2,
presence-node icon.custom3 {
  height: 90px;
  width: 90px;
  margin-top: -3px;
}

presence-node-multi icon.custom1,
presence-node-multi icon.custom2,
presence-node-multi icon.custom3 {
  height: 65px;
  width: 65px;
  margin-top: -3px;
}

presence-node icon.gather {
  left: -12px;
  top: 5px;
  width: 112px;
  height: 68px;
  position: relative;
  margin-right: 0px;
}

presence-node icon.gather > icon {
  left: 90px;
  top: -18px;
  filter: drop-shadow(0px 0px 1px white);
  height: 90px;
}

presence-node icon.gain-card-play > icon {
  position: relative;
  left: -39px;
  top: -28px;
  height: 40px;
  width: 60px;
}

presence-node > icon.deep-layers {
  position: relative;
  left: -22px;
  top: -135px;
  height: 40px;
  width: 60px;
}

presence-node > icon.energy-deep-layers,
presence-node > icon.card-deep-layers {
  position: relative;
  height: 35px;
  width: 60px;
  float: left;
  background-position: center;
}

presence-node > icon.energy-blank {
  height: 50px;
  margin-top: -10px;
}

presence-node > icon.energy-deep-layers {
  left: -44px;
  top: -4px;
  margin-bottom: -90px;
  transform: translateX(50%);
}

presence-node > icon.card-deep-layers {
  left: -45px;
  top: -4px;
  margin-bottom: -90px;
  transform: translateX(50%);
}

ring-icon.blank-ring {
  background-image: none;
}

ring-icon.deep-layers {
  background-image: url("../../images/board/CardPlayRing_DeepLayers.png");
}

deep-layers {
  left: 0px;
  top: -3px;
  transform: translateX(50%);
  position: absolute;
  z-index: 2;
  align-self: flex-start;
}

deep-layers > icon.energy-deep-layers,
deep-layers > icon.card-deep-layers {
  position: absolute;
  height: 37px;
  width: 60px;
  background-position: center;
  left: -13px;
  margin: 0px;
}

deep-layers > icon.energy-blank {
  height: 55px;
  margin-top: -10px;
}

track-move-presence {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: "Antropos";
  line-height: 0.6;
  margin-bottom: 5px;
}

presence-node-multi track-move-presence {
  scale: 0.9;
  position: absolute;
}

track-move-presence.shadow {
  background-image: url("../../images/customIcons/Presence Track Back.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 130px;
  width: 130px;
}

track-move-presence icon {
  width: 40px;
  height: 30px;
  margin: 0px;
  position: relative;
}

track-move-presence icon.move-arrow {
  width: 80px;
}

track-move-presence move-value {
  position: relative;
  left: -1px;
  position: relative;
}

track-move-presence move-text {
  position: relative;
  left: -1px;
  position: relative;
  font-size: 28px;
  line-height: 28px;
  font-family: "NAME HEADINGS";
}

presence-node-multi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -46%);
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

presence-node div.push > icon {
  width: 25px;
  height: 25px;
}

icon-multi {
  position: absolute;
}

.custom-presence-track-icon {
  width: 65px;
  height: 65px;
  margin-top: 0px;
}

custom-presence-track-icon {
  width: 90px;
  height: 65px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Energy Font";
  font-size: 32px;
  color: #431e0aff;
}

presence-node range {
  height: 43px;
  width: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 28px;
  background-position-y: 29px;
}

presence-node-multi range {
  width: 64px;
}

icon.card-deep-layers.sun {
  background-image: url(../../images/board/element_simple_sun.png);
}

icon.card-deep-layers.earth {
  background-image: url(../../images/board/element_simple_earth.png);
}

icon.card-deep-layers.plant {
  background-image: url(../../images/board/element_simple_plant.png);
}

icon.card-deep-layers.fire {
  background-image: url(../../images/board/element_simple_fire.png);
}

icon.card-deep-layers.air {
  background-image: url(../../images/board/element_simple_air.png);
}

icon.card-deep-layers.moon {
  background-image: url(../../images/board/element_simple_moon.png);
}

icon.card-deep-layers.animal {
  background-image: url(../../images/board/element_simple_animal.png);
}

icon.card-deep-layers.water {
  background-image: url(../../images/board/element_simple_water.png);
}

icon.card-deep-layers.any {
  background-image: url(../../images/board/element_simple_any.png);
}

icon.energy-deep-layers.sun {
  background-image: url(../../images/board/element_simple_sun.png);
}

icon.energy-deep-layers.earth {
  background-image: url(../../images/board/element_simple_earth.png);
}

icon.energy-deep-layers.plant {
  background-image: url(../../images/board/element_simple_plant.png);
}

icon.energy-deep-layers.fire {
  background-image: url(../../images/board/element_simple_fire.png);
}

icon.energy-deep-layers.air {
  background-image: url(../../images/board/element_simple_air.png);
}

icon.energy-deep-layers.moon {
  background-image: url(../../images/board/element_simple_moon.png);
}

icon.energy-deep-layers.animal {
  background-image: url(../../images/board/element_simple_animal.png);
}

icon.energy-deep-layers.water {
  background-image: url(../../images/board/element_simple_water.png);
}

icon.energy-deep-layers.any {
  background-image: url(../../images/board/element_simple_any.png);
}

element-or-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5px;
  left: 0px;
}

presence-node-multi element-or-wrap {
  top: 8px;
}

element-or-wrap icon {
  display: block;
  position: absolute;
}

element-or-wrap icon.presence-or-first {
  top: -20px;
  left: -28px;
  transform: translate(-50%, -50%);
  z-index: 3;
}

element-or-wrap icon.presence-or-second {
  top: 24px;
  left: 28px;
  transform: translate(-50%, -50%);
  z-index: 3;
}

presence-node-multi element-or-wrap icon.presence-or-first,
presence-node-multi element-or-wrap icon.presence-or-second {
  width: 40px;
  height: 40px;
  margin: 0px;
}

presence-node-multi element-or-wrap icon.presence-or-first {
  top: -3px;
  left: -24px;
}

presence-node-multi element-or-wrap icon.presence-or-second {
  top: 2px;
  left: 23px;
}

element-or-wrap icon.backslash {
  width: 35px;
  height: 94px;
  z-index: 2;
  margin: 0px;
}

presence-node-multi element-or-wrap icon.backslash {
  width: 20px;
  height: 55px;
}

presence-node add-move-lower icon {
  display: block;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  width: 40px;
  height: 60px;
}

presence-node add-move-lower icon.add-move {
  left: 35%;
  width: 40px;
  top: 85px;
}

presence-node add-move-lower icon.with-your {
  left: 65%;
  width: 40px;
  top: 85px;
}

presence-node add-move-upper {
  position: absolute;
  display: block;
  top: 33px;
  margin-left: 4px;
}

presence-node add-move-upper icon.backslash {
  margin-right: 0px;
}

presence-node add-move-upper icon.move-arrow {
  margin-left: 0px;
}

track-damage {
  background-image: url(../../images/board/NewIcons/Damage\ Blank.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-size: 26.66px;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: -11px;
  width: 80px;
  height: 80px;
  margin-bottom: 1px;
  margin-right: -3px;
}

track-damage value {
  font-family: "Energy Font";
  font-size: 29.33px;
  display: inline-block;
  margin-top: 36px;
  margin-left: 0px;
  font-style: normal;
  text-align: center;
}

damage range {
  margin-top: -17px;
  margin-left: 25px;
  line-height: 30px;
}

split-presence-node {
  display: block;
  max-width: 130px;
  flex-direction: column;
  text-align: center;
  position: relative;
  margin-top: -65px;
}

tr.has-split-node td {
  padding-top: 30px;
}

tr.has-split-node:not(:first-child) td {
  padding-top: 70px;
}

tr.has-split-node.has-split-node-tight:not(:first-child) td {
  padding-top: 0px;
}

presence-node icon.or {
  background-image: url(../../images/board/backslash.png);
  background-size: cover;
  width: 15px;
  height: 32px;
  margin-bottom: 22px;
  margin-top: 26px;
}

presence-node icon.gain-power-card-blank {
  display: flex;
  justify-content: center;
  height: 90px;
  width: 90px;
}

icon.gain-power-card-blank > icon {
  height: 45px;
  width: 45px;
}

presence-tracks.shadow subtext {
  text-shadow: 1px 0 #f1decc, 1px 1px 0 #f1decc, 1px -1px 0 #f1decc, -1px -1px 0 #f1decc;
}

presence-node icon.large {
  width: 80px;
  height: 80px;
}

presence-node icon.medium {
  width: 68px;
  height: 68px;
}

presence-node icon.small {
  width: 42px;
  height: 42px;
}

presence-node.top-subtext {
  flex-direction: column-reverse;
}

presence-node.top-subtext subtext {
  position: absolute;
  transform: translateY(-100%);
  top: 0px;
}

presence-node.left-subtext {
  flex-direction: row-reverse;
}

presence-node.left-subtext subtext {
  position: absolute;
  transform: translateX(-100%);
  left: -5px;
}

presence-node.right-subtext {
  flex-direction: row;
}

presence-node.right-subtext subtext {
  position: absolute;
  transform: translateX(100%);
  right: 0px;
}
