presence-tracks section-title {
  padding-top: 0px;
  margin-top: -3px;
}

presence-tracks section-title.has-note {
}

presence-tracks presence-note {
  font-family: "JosefinSans-Regular";
  font-size: 18.66px;
  margin-left: 8px;
  letter-spacing: -0.75px;
}

presence-tracks {
  display: block;
  position: relative;
  z-index: 2;
  margin-left: 10px;

  padding-bottom: 0px;

  background-image: url("../../images/board/Presence_Without_Text.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top left;
}

board.printer-clean presence-tracks {
  background-image: none;
  background-color: white;
}

presence-tracks:hover section-title {
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
}

presence-tracks:hover {
  cursor: pointer;
}
presence-tracks presence-title {
  margin-left: 39px;
  margin-bottom: 12px;
  padding-top: 0px;
  display: flex;
  align-items: flex-end;
}

presence-tracks presence-title.tight {
  margin-bottom: 0px;
}

presence-tracks table {
  display: inline-block;
  border-collapse: collapse;
  position: relative;
  pointer-events: none;
  z-index: 2;
}

board.devwrap presence-tracks table {
  pointer-events: all;
}

presence-tracks table td {
  padding: 0px;
  vertical-align: top;
  padding-right: 4px;
}

presence-tracks table td[rowspan="2"] {
  vertical-align: top;
  position: relative;
}

presence-bottom {
  display: block;
  position: absolute;
  background-image: url("../../images/board/Presence_Bottom.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  height: 57px;
  bottom: 0px;
}

board.printer-clean presence-bottom {
  background-image: none;
  background-color: white;
}

td.middle > presence-node {
  position: relative;
}

td.middle.bonus::before {
  content: "BONUS:";
  font-family: "Name Headings";
  display: block;
  position: absolute;
  left: 23%;
  top: 38px;
  font-size: 26.66px;
}

td.spacer {
  width: 42px;
  display: block;
}

td.spacer.tight {
  width: 10px;
}

presence-node {
  display: inline-flex;
  max-width: 130px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

tr.energy-track presence-node {
  margin-bottom: 43px;
}

tr.plays-track presence-node {
  margin-bottom: 5px;
}

presence-node.tight {
  margin-bottom: 20px;
}

tr > td:last-of-type {
  padding-right: 0px;
}

td.tight {
  padding-right: 0px;
}

/* tr.plays-track {
  height: 174px;
} */

presence-tracks tr:last-of-type {
  height: 174px;
}

subtext {
  font-family: "Lato SemiBold";
  font-size: 18.66px;
  font-style: italic;
  text-align: center;
  display: block;
  margin-top: -1px;
  letter-spacing: 0.5px;
}

board.hide-text subtext {
  visibility: hidden;
}

.adjust-subtext {
  margin-left: -20px;
  margin-right: -20px;
}

presence-node ring-icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

presence-node.first ring-icon {
  background-image: url("../../images/board/PresenceInitialRing.png");
}

presence-node ring-icon {
  background-image: url("../../images/board/CardPlayRing.png");
}

presence-node icon.reclaim-one {
  background-image: url("../../images/board/Reclaimone-white.png");
  display: block;
  height: 90px;
  width: 75px;
}

presence-node icon.star {
  width: 80px;
  height: 80px;
}

presence-node icon.empower-incarna {
  width: 93px;
  height: 99px;
  margin-bottom: 3px;
}

presence-node icon.gain-power-card,
presence-node icon.forget-power-card,
presence-node icon.discard-cards,
presence-node icon.discard-2-cards,
presence-node icon.discard-card,
presence-node icon.discard-1-card,
presence-node icon.gain-card-play,
presence-node icon.gain-card-play-blank {
  height: 90px;
  width: 90px;
}

presence-node icon.gain-card-pay-2 {
  height: 130px;
  width: 92px;
}

presence-node card-icon {
  background-image: url("../../images/board/CardPlayBlank.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 75px;
  width: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-reclaim {
  margin-left: -5px;
  margin-right: 0px;
  margin-top: -25px;
}

card-icon.small {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -10px;
}

.move-presence-1.small,
.move-presence-2.small,
.move-presence-3.small,
.move-presence-4.small {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  width: 75px;
  z-index: 2;
}

.gain-card-play.small,
.gain-power-card.small {
  height: 80px;
  width: 80px;
  margin-left: -7px;
  margin-right: -5px;
  margin-top: -14px;
}

presence-node energy-icon {
  background-image: url("../../images/board/EnergyBlank.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

energy-icon.small {
  height: 90px;
  width: 90px;
  margin-left: -10px;
  margin-top: -20px;
}

presence-node icon-shadow {
  background-image: url("../../images/customIcons/Presence Track Back.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

icon-shadow.small {
  height: 94px;
  width: 94px;
  margin-left: -5px;
  margin-top: -16px;
  z-index: 0;
  position: absolute;
}

presence-node icon.gain-range-1,
presence-node icon.gain-range-2,
presence-node icon.gain-range-3 {
  margin-bottom: 2px;
  height: 78px;
}

.gain-range-1.small,
.gain-range-2.small,
.gain-range-3.small,
.gain-range-4.small {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -7px;
  width: 70px;
  z-index: 2;
}

icon.energy-blank {
  display: flex;
  align-items: center;
  justify-content: center;
}

presence-node value {
  font-family: "Energy Font";
  font-size: 48px;
  display: inline-block;
}

energy-icon.small value {
  font-size: 34.66px;
}

card-icon.small value {
  font-size: 46.66px;
}

presence-node icon {
  width: 68px;
  height: 68px;
}

presence-node icon.isolate,
presence-node icon.custom1,
presence-node icon.custom2,
presence-node icon.custom3 {
  height: 90px;
  width: 90px;
  margin-top: -3px;
}

presence-node-multi icon.custom1,
presence-node-multi icon.custom2,
presence-node-multi icon.custom3 {
  height: 65px;
  width: 65px;
  margin-top: -3px;
}

presence-node icon.gather {
  left: -12px;
  top: 5px;
  width: 112px;
  height: 68px;
  position: relative;
  margin-right: 0px;
}

presence-node icon.gather > icon {
  left: 90px;
  top: -18px;
  filter: drop-shadow(0px 0px 1px white);
  height: 90px;
}

presence-node icon.gain-card-play > icon {
  position: relative;
  left: -39px;
  top: -28px;
  height: 40px;
  width: 60px;
}

presence-node > icon.deep-layers {
  position: relative;
  left: -22px;
  top: -135px;
  height: 40px;
  width: 60px;
}

presence-node > icon.energy-deep-layers,
presence-node > icon.card-deep-layers {
  position: relative;
  height: 35px;
  width: 60px;
  float: left;
  background-position: center;
}

presence-node > icon.energy-blank {
  height: 50px;
  margin-top: -10px;
}

presence-node > icon.energy-deep-layers {
  left: -44px;
  top: -4px;
  margin-bottom: -90px;
  transform: translateX(50%);
}

presence-node > icon.card-deep-layers {
  left: -45px;
  top: -4px;
  margin-bottom: -90px;
  transform: translateX(50%);
}

ring-icon.blank-ring {
  background-image: none;
}

ring-icon.deep-layers {
  background-image: url("../../images/board/CardPlayRing_DeepLayers.png");
}

deep-layers {
  left: 0px;
  top: -3px;
  transform: translateX(50%);
  position: absolute;
  z-index: 2;
  align-self: flex-start;
}

deep-layers > icon.energy-deep-layers,
deep-layers > icon.card-deep-layers {
  position: absolute;
  height: 37px;
  width: 60px;
  background-position: center;
  left: -13px;
  margin: 0px;
}

deep-layers > icon.energy-blank {
  height: 55px;
  margin-top: -10px;
}

track-move-presence {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: "Antropos";
  line-height: 0.6;
  margin-bottom: 5px;
}

track-move-presence.small {
  scale: 0.9;
  position: absolute;
}

track-move-presence.shadow {
  background-image: url("../../images/customIcons/Presence Track Back.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 130px;
  width: 130px;
}

track-move-presence icon {
  width: 40px;
  height: 30px;
  margin: 0px;
  position: relative;
}

track-move-presence icon.move-arrow {
  width: 80px;
}

track-move-presence move-value {
  position: relative;
  left: -1px;
  position: relative;
}

track-move-presence move-text {
  position: relative;
  left: -1px;
  position: relative;
  font-size: 28px;
  line-height: 28px;
  font-family: "NAME HEADINGS";
}

presence-node-multi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -46%);
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

icon.push {
  height: 68px;
  width: 110px;
}

icon-multi {
  position: absolute;
}

.custom-presence-track-icon {
  width: 65px;
  height: 65px;
  margin-top: 0px;
}

custom-presence-track-icon {
  width: 90px;
  height: 65px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Energy Font";
  font-size: 32px;
  color: #431e0aff;
}

presence-node range {
  height: 43px;
  width: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 28px;
  background-position-y: 29px;
}

presence-node range.small {
  width: 64px;
}

icon.card-deep-layers.sun {
  background-image: url(../../images/board/element_simple_sun.png);
}
icon.card-deep-layers.earth {
  background-image: url(../../images/board/element_simple_earth.png);
}
icon.card-deep-layers.plant {
  background-image: url(../../images/board/element_simple_plant.png);
}
icon.card-deep-layers.fire {
  background-image: url(../../images/board/element_simple_fire.png);
}
icon.card-deep-layers.air {
  background-image: url(../../images/board/element_simple_air.png);
}
icon.card-deep-layers.moon {
  background-image: url(../../images/board/element_simple_moon.png);
}
icon.card-deep-layers.animal {
  background-image: url(../../images/board/element_simple_animal.png);
}
icon.card-deep-layers.water {
  background-image: url(../../images/board/element_simple_water.png);
}
icon.card-deep-layers.any {
  background-image: url(../../images/board/element_simple_any.png);
}

icon.energy-deep-layers.sun {
  background-image: url(../../images/board/element_simple_sun.png);
}
icon.energy-deep-layers.earth {
  background-image: url(../../images/board/element_simple_earth.png);
}
icon.energy-deep-layers.plant {
  background-image: url(../../images/board/element_simple_plant.png);
}
icon.energy-deep-layers.fire {
  background-image: url(../../images/board/element_simple_fire.png);
}
icon.energy-deep-layers.air {
  background-image: url(../../images/board/element_simple_air.png);
}
icon.energy-deep-layers.moon {
  background-image: url(../../images/board/element_simple_moon.png);
}
icon.energy-deep-layers.animal {
  background-image: url(../../images/board/element_simple_animal.png);
}
icon.energy-deep-layers.water {
  background-image: url(../../images/board/element_simple_water.png);
}
icon.energy-deep-layers.any {
  background-image: url(../../images/board/element_simple_any.png);
}

element-or-wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
}

element-or-wrap icon.presence-or-first {
  align-self: flex-start;
  margin-right: -20px;
  margin-top: 23px;
  z-index: 3;
}

element-or-wrap icon.presence-or-second {
  align-self: flex-end;
  margin-left: -20px;
  margin-bottom: 24px;
  z-index: 3;
}

element-or-wrap.small {
  position: absolute;
  display: inline-block;
  margin-left: 15px;
  margin-top: 10px;
}

element-or-wrap icon.presence-or-first.small,
element-or-wrap icon.presence-or-second.small {
  width: 40px;
  height: 40px;
  margin: 0px;
}

element-or-wrap icon.presence-or-first.small {
  margin-left: -28px;
  margin-top: 10px;
  margin-right: -7px;
}

element-or-wrap icon.presence-or-second.small {
  margin-left: -2px;
  margin-top: 15px;
}

element-or-wrap icon.backslash.small {
  margin-top: 6px;
  margin-left: 4px;
  width: 20px;
  height: 55px;
  margin-bottom: -8px;
}

element-or-wrap icon.backslash {
  width: 35px;
  height: 94px;
  z-index: 2;
  margin-bottom: 30px;
}
