<!DOCTYPE html>
<head>
  <link href="../../_global/css/global.css" rel="stylesheet" />
  <link href="../../_global/css/event.css" rel="stylesheet" />
  <script type="text/javascript" src="../../_global/js/common.js"></script>
  <script type="text/javascript" src="../../_global/js/event_card.js" defer></script>
</head>
<body>

  <template-event-card 
    name="A Mysterious Card Approaches"
    type="choice"
    subtype=""
    lore="Grant Hatred a Ravenous Form shows up in your major power draft. Do you..."
    >

    <subevent
    name="Grant Grant Hatred a Ravenous Form a Spot in your Hand"
    type="choice"
    effect="• Any spirit gains Grant Hatred a Ravenous Form"
    >

    <subevent
    name="Perform The Unthinkable"
    type="choice"
    effect="• Rip up the card Grant Hatred a Ravenous Form"
    >

    <token-event
    name="RANDOM, INCONSEQUENTIAL BEAST:"
    tokens="blight,strife,fear,beasts"
    effect="
    Each {strife}/{blight} generates 1 {fear}. 
    Add a {beast} to an irrelevant land. "
    >

    <token-event
    name="DAHAN WITNESS SUPREME POWER:"
    tokens="dahan"
    effect="Each {dahan} does a polite golf clap."
    >



    </template-event-card>
  


 
</body>
</html>