<!DOCTYPE html>
<head>
  <link href="../../_global/css/global.css" rel="stylesheet" />
  <link href="../../_global/css/event.css" rel="stylesheet" />
  <script type="text/javascript" src="../../_global/js/common.js"></script>
  <script type="text/javascript" src="../../_global/js/event_card.js" defer></script>
</head>
<body>

  <template-event-card 
    name="Farmers SEEK Dahan for Aid"
    type="choice"
    subtype=""
    lore="The Dahan are uncertain whether to teach the Invaders farming techniques more in tune with the island's life. You recommend they"
    >


f
    <subevent
    name="Spurn the Invaders"
    type="choice"
    effect="<b>• On Each Board:</b> 2 Damage to {dahan} in a land with {town} / {city} and {dahan}.
    <b>• On Each Board:</b> Add 1 {blight} to a land with at least 2 {town} / {city}.
    • {town} / {city} have -1 Health (min 1) until the end of the turn."
    >

    <subevent
    name="Teach the Invaders"
    type="choice"
    effect="<b>• On Each Board:</b> add 1 {town} to a land with {dahan}.
    • The next normal Ravage becomes a Build (This could be on a future turn.)"
    >

    <token-event
    name="New Diseases:"
    tokens="disease"
    effect="On half of the boards (rounding up) add 1 {disease} to a land with both {dahan} and Invaders. Do 2 Damage to {dahan} there. "
    >



    </template-event-card>
  


 
</body>
</html>