<!DOCTYPE html>
<head>
  <link href="../../_global/css/global.css" rel="stylesheet" />
  <link href="../../_global/css/event.css" rel="stylesheet" />
  <script type="text/javascript" src="../../_global/js/common.js"></script>
  <script type="text/javascript" src="../../_global/js/event_card.js" defer></script>
</head>
<body>

  <template-event-card 
    name="You Just Gained Grant Hatred a Ravenous Form"
    type="choice"
    subtype=""
    lore="You got the most powerful card in the game."
    >

    <token-event
    name="DAHAN WITNESS SUPREME POWER:"
    tokens="dahan"
    effect="Each {dahan} does a polite golf clap."
    >
    <token-event
    name="DAHAN WITNESS SUPREME POWER:"
    tokens="dahan"
    effect="Each {dahan} does a polite golf clap."
    >
    <token-event
    name="DAHAN WITNESS SUPREME POWER:"
    tokens="dahan"
    effect="Each {dahan} does a polite golf clap."
    >
    <token-event
    name="DAHAN WITNESS SUPREME POWER:"
    tokens="dahan"
    effect="Each {dahan} does a polite golf clap."
    >





    </template-event-card>
  


 
</body>
</html>