<!DOCTYPE html>
<head>
  <link href="../../_global/css/global.css" rel="stylesheet" />
  <link href="../../_global/css/event.css" rel="stylesheet" />
  <script type="text/javascript" src="../../_global/js/common.js"></script>
  <script type="text/javascript" src="../../_global/js/event_card.js" defer></script>
</head>
<body>

  <template-event-card 
    name="none"
    type="blight"
    subtype=""
    lore=""
    >



    <subevent
    name="THRIVING TRADE"
    type="healthy"
    effect="<b>On Each Board:</b> Add 1 {city} to a Coastal land with {city}"
    >

    <subevent
    name="PARTITIONED WILDERNESS"
    type="blighted"
    effect="<b>On Each Board:</b> If there are 4 or more lands with Town, add 1 Blight to a land with or adjacent to Town. Spirits may prevent this on any/all boards by Destroying 3 Presence from each board to be protected."
    >

    <token-event
    name="Pestilence Arrives on Canvas Sails: "
    tokens="disease"
    effect="On Each Board: Add 1 {disease} to the Coastal land with the most {town}/{city} (min. 1). In that land, 3 Damage to {dahan}."
    >

    <token-event
    name="CANNY DEFENSE:"
    tokens="dahan"
    effect="During Ravage, in every land, Defend 1 per {dahan} in the land."
    >



    </template-event-card>
  


 
</body>
</html>