<!DOCTYPE html>

<head>

	<style>
	icon.custom1{background-image: url('demo_custom_icon.png'); }
	icon.custom2{background-image: url('filename.png'); }
	icon.custom3{background-image: url('filename.png'); }
	</style>

</head>

<body>

  <board spirit-image="example1.png" spirit-image-scale="190%"  spirit-border="example2.png">
    
    <spirit-name>
    </spirit-name>
	<artist-name>
	
	</artist-name>

    <special-rules-container>
    </special-rules-container>

    <right>
		<growth title="Growth">
		</growth>

		<presence-tracks>
		  <energy-track banner="example2.png" banner-v-scale="50%" values="1,2,earth,3,water+earth,fire+plant,reclaim-one"></energy-track>
		  <card-play-track banner="example2.png" banner-v-scale="50%" values="1,fire,2+fire,3,move-presence(2),reclaim-one,5+reclaim-one,fire+reclaim-one"></card-play-track>
		</presence-tracks>

    <innate-powers>
      <quick-innate-power
        name="explosion"
        speed="fast"
        range="wetland-presence,1"
        target="any {spirit}"
        target-title="TARGET LAND"
        note="Destroy X (1 or more) of your {presence} in target land; {destroyed-presence} checks how many you destroyed. This Power does Damage (separately and equally) to both Invaders and {Dahan}. Ranges below can't be increased.">
        <level threshold="1-plant">
          1 Damage per {fire,2} you have.
        </level>
        <level threshold="3-plant">
          Instead, 1 Damage per {fire} you have.
        </level>
        <level threshold="4-fire,2-air">
          You may split this Power's damage among any number of lands with {blight} where you have {presence}.
        </level>
      </quick-innate-power>
    </innate-powers>
  </right>
  </board>
</body>

</html>
