<!DOCTYPE html>

<head>
  <link href="../../_global/css/global.css" rel="stylesheet" />
  <link href="../../_global/css/board_front.css" rel="stylesheet" />
  <script type="text/javascript" src="../../_global/js/general.js"></script>
  <script type="text/javascript" src="../../_global/js/board_front.js"></script>

	<style>
	</style>

</head>

<body>

  <board spirit-image="" spirit-image-scale="190%"  spirit-border="">
    
    <spirit-name>
    </spirit-name>
	<artist-name>
	
	</artist-name>

    <special-rules-container>
    </special-rules-container>

    <right>
		<growth title="Growth">
		</growth>

		<presence-tracks>
		  <energy-track banner="" banner-v-scale="50%" values=""></energy-track>
		  <card-play-track banner="" banner-v-scale="50%" values=""></card-play-track>
		</presence-tracks>

    <innate-powers>
      <quick-innate-power
        name=""
        speed="fast"
        range=""
        target=""
        target-title=""
        note="">

      </quick-innate-power>
    </innate-powers>
  </right>
  </board>
</body>

</html>
