<!DOCTYPE html>
<head>
  <link href="../../_global/css/global.css" rel="stylesheet" />
  <link href="../../_global/css/card.css" rel="stylesheet" />
  <script type="text/javascript" src="../../_global/js/general.js"></script>
  <script type="text/javascript" src="../../_global/js/card.js" defer></script>
</head>
<body>

  <quick-card 
    speed=""
    cost="" 
    name=""
    image=""
    elements=""
    range=""
    target=""
	target-title=""
    artist-name="">
    <rules>
    </rules>
  </quick-card>

  <quick-card 
  speed=""
  cost="" 
  name=""
  image=""
  elements=""
  range=""
  target=""
target-title=""
  artist-name="">
  <rules>
  </rules>
  </quick-card>

  <quick-card 
  speed=""
  cost="" 
  name=""
  image=""
  elements=""
  range=""
  target=""
  target-title=""
  artist-name="">
  <rules>
  </rules>
  </quick-card>

  <quick-card 
  speed=""
  cost="" 
  name=""
  image=""
  elements=""
  range=""
  target=""
  target-title=""
  artist-name="">
  <rules>
  </rules>
  </quick-card>

 
</body>
</html>