.button.is-warning {
  background-color: #f4792b;
  border-color: transparent;
  color: #fff;
  font-family: "JosefinSans-Regular";
}

.button.is-warning:hover,
.button.is-warning.is-hovered {
  background-color: #ffac79;
  border-color: transparent;
  color: #fff;
}

.button.is-warning:focus,
.button.is-warning.is-focused {
  border-color: transparent;
  color: #fff;
}

.button {
  font-family: "JosefinSans-Regular";
}

.button.is-danger {
  background-color: #d62026;
  border-color: transparent;
  color: #fff;
  font-family: "JosefinSans-Regular";
}

.button.is-info {
  background-color: #0072bd;
  border-color: transparent;
  color: #fff;
  font-family: "JosefinSans-Regular";
}

.button.is-success {
  background-color: #0ba14a;
  border-color: transparent;
  color: #fff;
  font-family: "JosefinSans-Regular";
}

.button.is-file-load {
  background-color: #ffe08a;
}

h1,
h5,
h6 {
  font-family: "Lato Regular";
}

.button.navbar-item {
  font-family: "Lato Regular";
}

@font-face {
  font-family: "Lato Regular";
  src: url("/template/_global/fonts/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Semibold";
  src: local("Lato Semibold") url("/template/_global/fonts/lato/Lato-Semibold.ttf");
}

.button.is-flashy {
  -webkit-animation: is-flashy 1s step-end infinite;
  animation: is-flashy 1s step-end infinite;
}

@-webkit-keyframes is-flashy {
  from,
  to {
    outline-color: transparent;
  }

  50% {
    outline-color: black;
    outline-width: 2px;
    outline-style: groove;
  }
}

@keyframes is-flashy {
  from,
  to {
    outline-color: transparent;
  }

  50% {
    outline-color: black;
    outline-width: 2px;
    outline-style: groove;
  }
}

.subtitle.is-6 {
  margin-bottom: 0.25rem;
}

/* Hide default ion-icon tooltips because they are confusing */
ion-icon {
  pointer-events: none;
}

.note {
  display: block;
  font-size: 0.75rem;
  background-color: whitesmoke;
  border-left: 4px #dbdbdb solid;
}

.note a {
  color: unset;
  text-underline-offset: 2px;
  text-decoration: underline dotted;
}
.note a:hover {
  text-decoration-style: solid;
}

input.is-small.small-power,
textarea.is-small.small-power {
  padding: 1px 1px 1px 2px;
  font-size: 10px;
  min-height: 30px;
  height: 2.5em;
}

.preview-buttons {
  margin-bottom: 0.75rem;
}

div.dropdown-content {
  padding: 0px;
}
div.dropdown.is-up div.dropdown-menu {
  border-left: 3px #0ba14a solid;
  padding-bottom: 8px;
  margin-bottom: -8px;
  width: 100%;
  min-width: unset;
  border-top-left-radius: 6px;
}
div.dropdown-trigger .button.is-success:hover {
  background-color: #0ba14a;
  color: white;
}
.dropdown-content button {
  width: 80%;
}

footer {
  font-size: 0.8rem;
  padding-block-start: 0.25rem;
  padding-block-end: 0.5rem;
  padding-inline-start: 0.5rem;
  background-color: #f5f5f5;
}

button.side-menu {
  /* reset */
  padding: unset;
  border: unset;
  font: unset;
  color: unset;
  background: unset;
  /* sizing */
  width: 100%;
  /* color and highlight */
  background-color: #eff1fa;
  border-inline-start: 0.25rem solid #bfc0c5;
}
button.side-menu:hover {
  background-color: #bfc0c575;
  cursor: pointer;
}

[data-theme="dark"],
.theme-dark {
  /* Update CSS variables */
  background-color: #121212;
  /*  I have this here for some reason. */
  html {
    background-color: #121212;
  }
  .navbar,
  footer,
  .input,
  .textarea,
  .box {
    background-color: #121212;
  }
  .title,
  .subtitle,
  .label,
  .input,
  .textarea,
  body,
  .box {
    color: #e6e6e6;
  }
  .growth-group-title,
  .note,
  footer {
    background-color: #544f4f96;
    color: #ffffff;
  }
  .growth-action-handle {
    filter: invert(1);
  }
  button {
    /* color and highlight */
    background-color: #595a5e96;
    color: white;
    /* border-inline-start: 0.25rem solid #bfc0c5; */
  }
  button:hover {
    background-color: #56575a;
  }
}
