.button.is-warning {
  background-color: #f4792b;
  border-color: transparent;
  color: #fff;
  font-family: "JosefinSans-Regular";
}

.button.is-warning:hover,
.button.is-warning.is-hovered {
  background-color: #ffac79;
  border-color: transparent;
  color: #fff;
}

.button.is-warning:focus,
.button.is-warning.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-danger {
  background-color: #d62026;
  border-color: transparent;
  color: #fff;
  font-family: "JosefinSans-Regular";
}

.button.is-info {
  background-color: #0072bd;
  border-color: transparent;
  color: #fff;
  font-family: "JosefinSans-Regular";
}

.button.is-success {
  background-color: #0ba14a;
  border-color: transparent;
  color: #fff;
  font-family: "JosefinSans-Regular";
}

.button.is-file-load {
  background-color: #ffe08a;
}

h1,
h5,
h6 {
  font-family: "Lato Semibold";
}

.button.navbar-item {
  font-family: "Lato Semibold";
}

@font-face {
  font-family: "Lato Semibold";
  src: local("Lato Semibold") url("/template/_global/fonts/lato/Lato-Semibold.ttf");
}

.button.is-flashy {
  -webkit-animation: is-flashy 1s step-end infinite;
  animation: is-flashy 1s step-end infinite;
}

@-webkit-keyframes is-flashy {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

@keyframes is-flashy {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

.subtitle.is-6 {
  margin-bottom: 0.25rem;
}

/* Hide default ion-icon tooltips because they are confusing */
ion-icon {
  pointer-events: none;
}

.note {
  display: block;
  font-size: 0.75rem;
  background-color: whitesmoke;
  border-left: 4px #dbdbdb solid;
}

.note a {
  color: unset;
  text-underline-offset: 2px;
  text-decoration: underline dotted;
}
.note a:hover {
  text-decoration-style: solid;
}
