.button.is-warning {
  background-color: #f4792b;
  border-color: transparent;
  color: #fff;
  font-family: "JosefinSans-Regular";
}

.button.is-warning:hover,
.button.is-warning.is-hovered {
  background-color: #ffac79;
  border-color: transparent;
  color: #fff;
}

.button.is-warning:focus,
.button.is-warning.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-danger {
  background-color: #d62026;
  border-color: transparent;
  color: #fff;
  font-family: "JosefinSans-Regular";
}

.button.is-info {
  background-color: #0072bd;
  border-color: transparent;
  color: #fff;
  font-family: "JosefinSans-Regular";
}

.button.is-success {
  background-color: #0ba14a;
  border-color: transparent;
  color: #fff;
  font-family: "JosefinSans-Regular";
}

.file.is-success .file-cta {
  background-color: #0ba14a;
  font-family: "JosefinSans-Regular";
}

h1, h5, h6 {
  font-family: 'Lato';
}

.button.navbar-item {
  font-family: 'Lato';
}