.row-button {
  display: inline;
  padding: 0.2rem;
}

.growth-set {
  display: flex;
  flex-direction: row;
}
.growth-set-title,
.growth-group-title {
  display: flex;
  flex-direction: column-reverse;
  background-color: #eff1fa !important;
  width: 1.8em;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  min-height: 10rem;
  margin: 1px;
}
.growth-set-info {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
}
.growth-group {
  display: flex;
  flex-direction: row;
}

.growth-group-info {
  display: flex;
  flex-direction: column;
}
.growth-set-title > .label,
.growth-group-title > .label {
  transform-origin: center;
  transform: rotate(270deg);
  text-align: center;
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
}

.growth-action-container {
  display: flex;
  flex-direction: row;
}

.growth-group-button,
.growth-set-button {
  align-self: center;
  background-color: #e0e2eb;
  color: #000000;
  padding: 0px;
  border-radius: 1rem;
  height: 2rem;
  width: 1.5rem;
  z-index: 5;
}

.section-header{
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  padding-right: 2px;
  pointer-events: none;
}

.img-section-header {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  width: 25px;
  height: 20px;
  max-height: 20px;
  pointer-events: none;
}
