.row-button {
  display: inline;
  padding: 0.2rem;
}

.growth-set {
  display: flex;
  flex-direction: row;
}
.growth-set-title,
.growth-group-title {
  display: flex;
  flex-direction: column-reverse;
  background-color: #eff1fa !important;
  width: 1.8em;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  min-height: 10rem;
  margin: 1px;
}
.growth-set-info {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
}
.growth-group {
  display: flex;
  flex-direction: row;
}

.growth-group-info {
  display: flex;
  flex-direction: column;
}
.growth-set-title > .label,
.growth-group-title > .label {
  transform-origin: center;
  transform: rotate(270deg);
  text-align: center;
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
}

.growth-action-container {
  display: flex;
  flex-direction: row;
}

.growth-action-handle {
  cursor: move;
  background-image: url("/template/_global/images/dragdots.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  margin-right: -15px;
  margin-left: 3px;
  background-position: center;
  z-index: 5;
  opacity: 0.4;
}

.growth-group-handle {
  cursor: move;
  background-image: url("/template/_global/images/dragdots.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 10px;
  height: 24px;
  background-position: center;
  z-index: 5;
  transform: rotate(90deg);
  align-self: center;
  margin-top: -10px;
}

.growth-group-button,
.growth-set-button {
  align-self: center;
  background-color: #e0e2eb;
  color: #000000;
  padding: 0px;
  border-radius: 1rem;
  height: 2rem;
  width: 1.5rem;
  z-index: 5;
  margin-top: 5px;
}

.hovering {
  border-top: rgb(0, 0, 0) 2px solid;
}

div.growth-action-container input {
  padding-left: calc(0.75em + 8px);
}
