.img-elements {
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    width: 40px;
    height: 40px;
    max-height: 40px;
    filter: opacity(0.2);
}

.is-active {
  filter: none;
}