.presence-track-row {
	display: flex;
	font-size: 0.75rem;
}

.presence-track-input {
	font-size: 0.75rem;
}

.presence-track-button,
.presence-track-button {
	align-self: center;
	background-color: #e0e2eb;
	color: #000000;
	padding: 0px;
	border-radius: 1rem;
	height: 1.5rem;
	width: 5.5rem;
}
