.preview-wrap {
  width: var(--preview-wrap-width);
  padding: 0;
  overflow: hidden;
}

.preview-wrap.large {
  height: var(--preview-large-wrap-height);
}

.preview-wrap:not(.large) {
  height: var(--preview-small-wrap-height);
}

.preview-wrap .preview-frame {
  height: var(--preview-frame-height);
  border: 0px;
  transform-origin: 0 0;
}

.preview-wrap.large .preview-frame {
  transform: var(--preview-large-frame-transform);
  width: var(--preview-large-frame-width);
}

.preview-wrap:not(.large) .preview-frame {
  transform: var(--preview-frame-small-transform);
  /* width: var(--preview-small-frame-width, var(--preview-frame-width)); */
}

@media (max-width: 1000px) {
  .preview-wrap {
    overflow-x: auto;
  }
}

.preview-frame {
  width: 100%;
}

#spirit-preview {
  --scroll-amount: 245;
  --preview-frame-width: 1800px;
  --preview-frame-height: 1195px;
  --preview-wrap-width: 155%;

  --preview-large-wrap-height: 890px;
  --preview-large-frame-transform: scale(0.745);
  --preview-large-frame-width: 1777px;

  --preview-small-wrap-height: 660px;

  /* 1/scale */
  /* --preview-frame-small-width: 182%;  */
  --preview-frame-small-transform: scale(0.55);
}

#adversary-preview {
  --scroll-amount: 295;
  --preview-frame-width: 860px;
  --preview-frame-height: 792px;
  --preview-wrap-width: 100%;

  --preview-large-wrap-height: 792px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 1200px;

  --preview-small-wrap-height: 595px;
  --preview-frame-small-transform: scale(0.75);
}

#aspect-preview {
  --scroll-amount: 0;
  --preview-frame-height: 567px;
  --preview-frame-width: 600px;
  --preview-wrap-width: 1700px;

  --preview-large-wrap-height: 575px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 1000px;

  --preview-small-wrap-height: 330px;
  --preview-frame-small-transform: scale(0.57);
  /* --preview-small-frame-width: 149%; */
}

#aspect-preview.portrait {
  --preview-frame-height: 787px;
  --preview-large-wrap-height: 580px;
  --preview-small-wrap-height: 452px;
}

#power-cards-preview {
  --scroll-amount: 240;
  --preview-frame-height: 682px;

  --preview-large-wrap-height: 700px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 1200px;

  --preview-small-wrap-height: 460px;
  --preview-frame-small-transform: scale(0.67);
  --preview-small-frame-width: 149%;

  --preview-wrap-width: 150%;
}

#lore-preview {
  --scroll-amount: 245;
  --preview-frame-width: 1800px;
  --preview-frame-height: 1197px;

  --preview-large-wrap-height: 890px;
  --preview-large-frame-transform: scale(0.745);
  --preview-large-frame-width: 1777px;
  --preview-wrap-width: 155%;

  --preview-small-wrap-height: 660px;
  --preview-frame-small-transform: scale(0.55);
}

#blight-card-preview {
  --scroll-amount: 295;
  --preview-frame-width: 650px;
  --preview-frame-height: 700px;
  --preview-wrap-width: 100%;
  --preview-large-wrap-height: 710px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 650px;
  --preview-small-wrap-height: 470px;
  --preview-frame-small-transform: scale(0.67);
}

#fear-card-preview {
  --scroll-amount: 295;
  --preview-frame-width: 650px;
  --preview-frame-height: 700px;
  --preview-wrap-width: 100%;
  --preview-large-wrap-height: 710px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 650px;
  --preview-small-wrap-height: 470px;
  --preview-frame-small-transform: scale(0.67);
}

#incarna-preview {
  --scroll-amount: 295;
  --preview-frame-width: 650px;
  --preview-frame-height: 700px;
  --preview-wrap-width: 100%;
  --preview-large-wrap-height: 270px;
  --preview-large-frame-transform: scale(2);
  --preview-large-frame-width: 650px;
  --preview-small-wrap-height: 155px;
  --preview-frame-small-transform: scale(1);
}

#event-card-preview {
  --scroll-amount: 295;
  --preview-frame-width: 650px;
  --preview-frame-height: 700px;
  --preview-wrap-width: 100%;
  --preview-large-wrap-height: 710px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 650px;
  --preview-small-wrap-height: 470px;
  --preview-frame-small-transform: scale(0.67);
}
