.preview-wrap {
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.preview-wrap.large {
  height: var(--preview-large-wrap-height);
}

.preview-wrap:not(.large) {
  height: var(--preview-small-wrap-height);
}

.preview-wrap .preview-frame {
  height: var(--preview-frame-height);
  border: 0px;
  transform-origin: 0 0;
}

.preview-wrap.large .preview-frame {
  transform: var(--preview-large-frame-transform);
  width: var(--preview-large-frame-width, var(--preview-frame-width));
}

.preview-wrap:not(.large) .preview-frame {
  transform: var(--preview-small-frame-transform);
  width: var(--preview-small-frame-width, var(--preview-frame-width));
}

@media (max-width: 1000px) {
  .preview-wrap {
    overflow-x: auto;
  }
}

#spirit-preview {
  --scroll-amount: 245;
  --preview-frame-width: 1800px;
  --preview-frame-height: 1210px;

  --preview-large-wrap-height: 890px;
  --preview-large-frame-transform: scale(0.745);

  --preview-small-wrap-height: 660px;
  --preview-small-frame-transform: scale(0.55);
}

#adversary-preview {
  --scroll-amount: 295;
  --preview-frame-width: 860px;
  --preview-frame-height: 540px;

  --preview-large-wrap-height: 845px;
  --preview-large-frame-transform: scale(1.55);

  --preview-small-wrap-height: 550px;
  --preview-small-frame-transform: scale(1);
}

#aspect-preview {
  --scroll-amount: 0;
  --preview-frame-height: 495px;

  --preview-large-wrap-height: 495px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 100%;

  --preview-small-wrap-height: 340px;
  --preview-small-frame-transform: scale(0.67);
  --preview-small-frame-width: 149%;
}

#power-cards-preview {
  --scroll-amount: 240;
  --preview-frame-height: 682px;

  --preview-large-wrap-height: 700px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 100%;

  --preview-small-wrap-height: 460px;
  --preview-small-frame-transform: scale(0.67);
  --preview-small-frame-width: 149%;
}

#lore-preview {
  --scroll-amount: 245;
  --preview-frame-width: 1800px;
  --preview-frame-height: 1210px;

  --preview-large-wrap-height: 890px;
  --preview-large-frame-transform: scale(0.745);

  --preview-small-wrap-height: 660px;
  --preview-small-frame-transform: scale(0.55);
}
