.preview-wrap {
  padding: 0;
  overflow: hidden;
}

.preview-wrap.large {
  height: var(--preview-large-wrap-height);
}

.preview-wrap:not(.large) {
  height: var(--board-height-px);
}

.preview-wrap .preview-frame {
  height: var(--board-height-px);
  border: 0px;
  transform-origin: 0 0;
}

.preview-wrap.large .preview-frame {
  transform: var(--preview-large-frame-transform);
  width: var(--preview-large-frame-width);
}

/* .preview-wrap:not(.large) .preview-frame {
  transform: var(--preview-frame-small-transform);
} */

/* Dynamic screen sizing */
.preview-wrap {
  --screen-width: 2000;
  width: calc(var(--scaler) * var(--board-width-px) * 1px * 1.03);
}

.preview-wrap:not(.large) .preview-frame {
  --scaler: calc(var(--layout-scaler) * var(--screen-width) / var(--board-width-px));
  transform: scale(var(--scaler));
  width: calc(100% * 1 / var(--scaler));
}
.preview-wrap:not(.large) {
  --scaler: calc(var(--layout-scaler) * var(--screen-width) / var(--board-width-px));
  height: calc(var(--board-height-px) * var(--scaler));
}

@media (max-width: 1000px) {
  .preview-wrap:not(.large),
  .preview-wrap:not(.large) .preview-frame {
    --screen-width: 1000;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  .preview-wrap:not(.large),
  .preview-wrap:not(.large) .preview-frame {
    --screen-width: 1050;
  }
}

@media (min-width: 1100px) and (max-width: 1200px) {
  .preview-wrap:not(.large),
  .preview-wrap:not(.large) .preview-frame {
    --screen-width: 1150;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .preview-wrap:not(.large),
  .preview-wrap:not(.large) .preview-frame {
    --screen-width: 1250;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  .preview-wrap:not(.large),
  .preview-wrap:not(.large) .preview-frame {
    --screen-width: 1350;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .preview-wrap:not(.large),
  .preview-wrap:not(.large) .preview-frame {
    --screen-width: 1500;
  }
}

/* The layout scaler is relevant for the side menu layout */
#body-container .preview-wrap {
  --layout-scaler: 0.9;
}

#body-container.is-sideMenu .preview-wrap {
  --layout-scaler: 0.6;
}

.preview-frame {
  width: 100%;
}

#spirit-preview {
  --scroll-amount: 245;

  --board-width-px: 1766;
  --board-height-px: 1177px;

  --preview-large-wrap-height: 890px;
  --preview-large-frame-transform: scale(0.745);
  --preview-large-frame-width: 1777px;
}

#adversary-preview {
  --scroll-amount: 295;

  --board-width-px: 1177;
  --board-height-px: 786px;

  --preview-large-wrap-height: 792px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 1200px;
}

#scenario-preview {
  --scroll-amount: 295;

  --board-width-px: 1177;
  --board-height-px: 786px;

  --preview-large-wrap-height: 792px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 1200px;
}

#aspect-preview {
  --scroll-amount: 0;

  --board-width-px: 1550;
  --board-height-px: 567px;

  --preview-large-wrap-height: 575px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 1000px;
}

#aspect-preview.portrait {
  --board-width-px: 1350;
  --board-height-px: 786px;

  --preview-large-wrap-height: 580px;
}

#power-cards-preview {
  --scroll-amount: 240;

  --board-width-px: 1952;
  --board-height-px: 682px;

  --preview-large-wrap-height: 700px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 1200px;
}

#lore-preview {
  --scroll-amount: 245;

  --board-width-px: 1766;
  --board-height-px: 1177px;

  --preview-large-wrap-height: 890px;
  --preview-large-frame-transform: scale(0.745);
  --preview-large-frame-width: 1777px;
}

#blight-card-preview {
  --scroll-amount: 295;

  --board-width-px: 1250;
  --board-height-px: 682px;

  --preview-large-wrap-height: 710px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 650px;
}

#fear-card-preview {
  --scroll-amount: 295;

  --board-width-px: 1250;
  --board-height-px: 682px;

  --preview-large-wrap-height: 710px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 650px;
}

#incarna-preview {
  --scroll-amount: 295;

  --board-width-px: 1000;
  --board-height-px: 427px;

  --preview-large-wrap-height: 440px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 650px;
}

#event-card-preview {
  --scroll-amount: 295;

  --board-width-px: 1250;
  --board-height-px: 682px;

  --preview-large-wrap-height: 710px;
  --preview-large-frame-transform: scale(1);
  --preview-large-frame-width: 650px;
}
