<!DOCTYPE html>
<head>
  <link href="../../_global/css/global.css" rel="stylesheet" />
  <link href="../../_global/css/fear_card.css" rel="stylesheet" />
  <script type="text/javascript" src="../../_global/js/common.js"></script>
  <script type="text/javascript" src="../../_global/js/fear_card.js" defer></script>
</head>
<body>

  <template-fear-card>
    <fear-card-name>Fear of the Unseen</fear-card-name>
    <terror-level class="level1">Each player removes 1 {explorer} / {town} from a land with {sacred-site}.</terror-level>
    <terror-level class="level2">Each player removes 1 {explorer} / {town} from a land with {presence}.</terror-level>
    <terror-level class="level3">Each player removes 1 {explorer} / {town} from a land with {presence}, or 1 {city} from a land with {sacred-site}.</terror-level>
    </template-fear-card>
  


 
</body>
</html>